* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Arial', serif;
  font-size: 16px;
  line-height: 1;
  color: #444c59;
  font-weight: 400;
}

header#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  background: #fff;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header#list .menu_mobile {
  display: none;
}

header#list .col_left {
  width: 5%;
  height: 100%;
}

header#list .col_left .logo_zilo {
  height: 100%;
  width: 100%;
  padding: 8px 0;
}

header#list .col_left .logo_zilo i {
  display: none;
}

header#list .col_left .logo_zilo img {
  width: 100%;
  height: 100%;
}

header#list .col_between {
  width: 35%;
  height: 100%;
  text-align: left;
}

header#list .col_between .search_list {
  margin-top: 7px;
  width: 100%;
  height: 100%;
}

header#list .col_between .search_list form {
  position: relative;
  margin-left: 20px;
}

header#list .col_between .search_list form i {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 18px;
  color: #000;
  z-index: 1;
}

header#list .col_between .search_list form input {
  width: 100%;
  max-width: 500px;
  padding-left: 50px;
  height: 44px;
  line-height: 44px;
  border: 1px solid rgba(48, 51, 58, 0.3);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  position: relative;
}

header#list .col_between .search_list form input:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header#list .col_right {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#list .col_right .menu_home {
  width: 100%;
  height: 100%;
  line-height: 55px;
}

header#list .col_right .menu_home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header#list .col_right .menu_home ul li {
  margin: 0 10px;
  position: relative;
}

header#list .col_right .menu_home ul li:hover ul.menu_child {
  display: block;
}

header#list .col_right .menu_home ul li a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul li a i {
  margin-left: 6px;
  color: #ff0005;
}

header#list .col_right .menu_home ul.menu_child {
  position: absolute;
  display: none;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  width: 200px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

header#list .col_right .menu_home ul.menu_child li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

header#list .col_right .menu_home ul.menu_child li:hover {
  background: #f3f4f7;
}

header#list .col_right .menu_home ul.menu_child li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: 400px;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul.menu_child::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  right: 14px;
  top: -16px;
  opacity: 1;
  z-index: 101;
}

header#list .col_right .login_home {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
}

header#list .col_right .login_home .btn-login {
  display: block;
  color: rgba(48, 51, 58, 0.86);
  width: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 0 20px;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .login_home .agency_zilo a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
  outline: unset;
  border: 1px solid rgba(48, 51, 58, 0.86);
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

.slides_new {
  margin-top: 58px;
  background: #262626;
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 30px;
}

.slides_new .slick-next:before, .slides_new .slick-prev:before {
  color: #fff;
}

.slides_new .slick-dotted.slick-slider {
  margin: 0 auto 10px auto;
}

.slides_new .main {
  font-family: Arial;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.slides_new .slider-for {
  max-width: 500px;
  height: 355px;
  margin: 0 auto 10px auto;
}

.slides_new .slider-for img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.slides_new .slider-nav {
  max-width: 430px;
}

.slides_new .slider-nav img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slides_new .item-nav {
  height: 94px;
  margin: 0 3px;
}

.slides_new .item-for {
  width: 100%;
  height: 350px;
}

.content_detail_house .top_detail {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 10px;
}

.content_detail_house .top_detail .box_breadcrumb ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_detail_house .top_detail .box_breadcrumb ul li {
  font-weight: 400;
  padding-right: 5px;
}

.content_detail_house .top_detail .box_breadcrumb ul li a {
  text-decoration: none;
  font-size: 16px;
  color: gray;
}

.content_detail_house .top_detail .box_breadcrumb ul li a:hover {
  color: #c72528;
}

.content_detail_house .top_detail h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 100%;
  padding: 5px 0;
}

.content_detail_house .top_detail .list_info_detail {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.content_detail_house .top_detail .list_info_detail ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_detail_house .top_detail .list_info_detail ul li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.content_detail_house .top_detail .list_info_detail ul li i {
  color: #333;
  margin-right: 6px;
}

.content_detail_house .main_detail .overview h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .overview p {
  overflow: hidden;
  line-height: 24px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .basic_infomation h4, .content_detail_house .main_detail .list_info h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .basic_infomation ul, .content_detail_house .main_detail .list_info ul {
  width: 100%;
  overflow: auto;
  padding-bottom: 15px;
}

.content_detail_house .main_detail .basic_infomation ul li, .content_detail_house .main_detail .list_info ul li {
  display: block;
  border-bottom: 1px dotted #dedede;
  padding: 7px 0;
  float: left;
  margin-right: 3%;
  width: 47%;
}

.content_detail_house .main_detail .basic_infomation ul li p.left, .content_detail_house .main_detail .list_info ul li p.left {
  float: left;
  color: rgba(68, 76, 89, 0.76);
  font-size: 16px;
  line-height: 24px;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.content_detail_house .main_detail .basic_infomation ul li p.right, .content_detail_house .main_detail .list_info ul li p.right {
  float: right;
  color: #444c59;
  font-size: 15px;
  font-weight: 600;
  max-width: 48%;
  overflow: hidden;
  height: 30px;
  text-align: right;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.content_detail_house .main_detail .basic_infomation ul li p.right i, .content_detail_house .main_detail .list_info ul li p.right i {
  color: #444c59;
}

.content_detail_house .main_detail .basic_infomation ul li p.right i.far.fa-check, .content_detail_house .main_detail .list_info ul li p.right i.far.fa-check {
  font-size: 12px;
}

.content_detail_house .main_detail .advantages_house h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .advantages_house .list_advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px dotted #e2e2e2;
}

.content_detail_house .main_detail .advantages_house .list_advantages .advantages_name {
  float: left;
  width: 23%;
}

.content_detail_house .main_detail .advantages_house .list_advantages .advantages_name p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.content_detail_house .main_detail .advantages_house .list_advantages .advantages_content {
  float: left;
  width: 72%;
  margin-left: 5%;
  font-size: 16px;
}

.content_detail_house .main_detail .advantages_house .list_advantages .advantages_content p {
  font-size: 16px;
  line-height: 24px;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.content_detail_house .main_detail .images_house {
  width: 99%;
}

.content_detail_house .main_detail .images_house h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .images_house .gallery > div:first-child {
  width: 100%;
  height: 400px;
}

.content_detail_house .main_detail .images_house .gallery div {
  width: 49%;
  height: 230px;
  margin-bottom: 15px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.content_detail_house .main_detail .images_house .gallery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content_detail_house .main_detail .images_house .gallery div span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 32px;
  padding: 0 11px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 16px;
  height: 32px;
  overflow: hidden;
}

.content_detail_house .main_detail .utility_area {
  width: 100%;
}

.content_detail_house .main_detail .utility_area h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.content_detail_house .main_detail .utility_area .zilo_map {
  width: 100%;
}

.content_detail_house .main_detail .utility_area .location_map {
  width: 100%;
  height: 43px;
  line-height: 48px;
  padding-left: 10px;
  overflow: hidden;
}

.content_detail_house .main_detail .utility_area .location_map strong {
  font-size: 16px;
  line-height: 24px;
}

.content_detail_house .main_detail .utility_area .location_map strong > i {
  color: #c72528;
  margin-right: 6px;
}

.content_detail_house .contact_info {
  height: 400px;
  width: 100%;
  border: solid 1px #ccc;
}

.content_detail_house .contact_info .top_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 20px;
  border-bottom: solid 1px #ccc;
}

.content_detail_house .contact_info .top_info .user_avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  margin-right: 20px;
  background: #005b9c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_detail_house .contact_info .top_info .user_avatar span {
  color: #fff;
  font-size: 30px;
  margin: auto;
  width: 50%;
  text-transform: uppercase;
}

.content_detail_house .contact_info .top_info .avatar_name {
  display: inline-block;
  width: calc(100% - 110px);
  height: 80px;
}

.content_detail_house .contact_info .top_info .avatar_name span {
  line-height: 4.5;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.content_detail_house .contact_info .bottom_info {
  margin-top: 20px;
  padding: 20px;
}

.content_detail_house .contact_info .bottom_info .phone_number a {
  text-decoration: none;
}

.content_detail_house .contact_info .bottom_info .phone_number a .btn-red {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding: 15px 40px;
  color: #fff;
  background: #c72528;
  border-radius: 2px;
  font-size: 18px;
  border: 0;
}

.content_detail_house .contact_info .bottom_info .phone_number a .btn-red:hover {
  background: #b71c1f;
}

.content_detail_house .contact_info .bottom_info .phone_number a .btn-red i {
  font-size: 14px;
  margin-right: 10px;
}

.content_detail_house .contact_info .bottom_info .user_email .email {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding: 15px 34px;
  color: #333;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.content_detail_house .contact_info .bottom_info .user_email .email i {
  font-size: 14px;
  margin-right: 10px;
}

.content_detail_house .contact_info .bottom_info .user_chat .chat {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding: 15px 34px;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0998fa), to(#0e67fa));
  background: linear-gradient(180deg, #0998fa 0, #0e67fa);
}

.content_detail_house .contact_info .bottom_info .user_chat .chat i {
  font-size: 14px;
  margin-right: 10px;
}

.housing_nearby {
  background: rgba(243, 244, 247, 0.5) !important;
  width: 100%;
}

.housing_nearby .content_housing_nearby h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.housing_nearby .content_housing_nearby .compare_house {
  background: #fff;
  border-bottom: 0;
  font-size: 16px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.housing_nearby .content_housing_nearby .compare_house .article {
  padding: 19px;
  border-bottom: 1px solid #ececec;
  display: table;
  height: 90px;
  width: 100%;
}

.housing_nearby .content_housing_nearby .compare_house .article > div {
  display: table-cell;
  vertical-align: middle;
}

.housing_nearby .content_housing_nearby .compare_house .article .img {
  height: 60px;
  width: 12%;
  position: relative;
  padding-right: 20px;
}

.housing_nearby .content_housing_nearby .compare_house .article .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.housing_nearby .content_housing_nearby .compare_house .article .title {
  width: 43%;
}

.housing_nearby .content_housing_nearby .compare_house .article .title h3 {
  font-weight: 600;
  line-height: 1.4em;
  font-size: 16px;
  font-family: serif,sans-serif;
  display: -webkit-box;
  unicode-bidi: embed;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.housing_nearby .content_housing_nearby .compare_house .article .title h3 a {
  text-decoration: none;
  color: #444c59;
}

.housing_nearby .content_housing_nearby .compare_house .article .title p.address {
  padding-top: 5px;
  color: gray;
  display: -webkit-box;
  unicode-bidi: embed;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.housing_nearby .content_housing_nearby .compare_house .article .status_housing {
  width: 20%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #c72528;
  font-weight: 500;
}

.housing_nearby .content_housing_nearby .compare_house .article .info {
  width: 25%;
  padding-top: 15px;
}

.housing_nearby .content_housing_nearby .compare_house .article .info > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.housing_nearby .content_housing_nearby .compare_house .article .info > ul > li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.housing_nearby .content_housing_nearby .compare_house .article .info > ul > li > i {
  color: #333;
  margin-right: 6px;
}

.housing_same {
  width: 100%;
  background: #f4f5f9;
  padding-bottom: 70px;
}

.housing_same .content_housing_same h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.housing_same .content_housing_same .same .article_same:last-child {
  margin-right: 0px !important;
}

.housing_same .content_housing_same .same .article_same {
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid rgba(131, 131, 131, 0.2);
  margin-right: 30px;
  border-top: 2px solid #444c59;
}

.housing_same .content_housing_same .same .cover_image {
  position: relative;
}

.housing_same .content_housing_same .same .cover_image p {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  padding: 7px 7px 5px 7px;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 12px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  z-index: 2;
  border-radius: 2px;
  text-transform: uppercase;
}

.housing_same .content_housing_same .same .cover_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.housing_same .content_housing_same .same .cover_image .mark_cover_image {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 14px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  width: 100%;
  z-index: 2;
}

.housing_same .content_housing_same .same .info_project {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
}

.housing_same .content_housing_same .same .info_project ul.info_house {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.housing_same .content_housing_same .same .info_project ul.info_house li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.housing_same .content_housing_same .same .info_project ul.info_house li i {
  font-size: 12px;
  color: #30333a;
  padding-right: 5px;
}

.housing_same .content_housing_same .same .info_project h3 a.name_project {
  display: block;
  font-size: 16px;
  color: #30333a;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.housing_same .content_housing_same .same .info_project .address_project {
  margin-top: 8px;
  display: block;
  color: #838383;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.housing_same .content_housing_same .same .info_project .price_project {
  margin-top: 15px;
}

.housing_same .content_housing_same .same .info_project .price_project span {
  color: #30333a;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}

.housing_same .content_housing_same .same .info_project .price_house {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #30333a;
  text-align: right;
}

footer#footer {
  width: 100%;
  background: #000111;
  color: #fff;
  padding: 30px 15px;
  text-align: left;
}

footer#footer .row_one, footer#footer .row_two {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

footer#footer .row_three {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#footer .row_three .left {
  float: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
}

footer#footer .row_three .right {
  float: right;
}

footer#footer .row_three .right a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 16px;
}

footer#footer .main_footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

footer#footer .main_footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

footer#footer .main_footer .contact .icon {
  width: 20px;
  margin-right: 10px;
}

footer#footer .main_footer .contact .icon i {
  font-size: 16px;
  padding: 0;
  margin-top: 4px;
}

footer#footer .main_footer .contact .details p.title {
  font-size: 12px;
  margin-bottom: 7px;
}

footer#footer .main_footer .contact .details p.link a {
  font-size: 16px;
  color: #00a6bd;
  font-weight: 500;
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer {
  list-style: none;
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer > li {
  width: 20%;
}

footer#footer .main_footer .list_info_footer > li span {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

footer#footer .main_footer .list_info_footer > li > ul {
  list-style: none;
  margin-top: 8px;
}

footer#footer .main_footer .list_info_footer > li > ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

footer#footer .main_footer .list_info_footer > li > ul li a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer li.address p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 25px;
}

footer#footer .main_footer .list_info_footer li.address .socical_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer li.address .socical_group a {
  min-width: 20px;
  margin-right: 10px;
  padding: 0;
  color: #fff;
}

@media (max-width: 768px) {
  header#list {
    padding: 0 15px;
  }
  header#list .menu_mobile {
    display: none;
    position: absolute;
    top: 58px;
    background: #fff;
    width: 100%;
    padding-bottom: 100px;
    left: 0;
  }
  header#list .menu_mobile .login_home {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    line-height: 35px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  }
  header#list .menu_mobile .login_home .btn-login {
    display: block;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 3px 42px 0 42px;
    white-space: nowrap;
    text-decoration: none;
    color: #30333a;
    border: 1px solid #30333a;
    background: transparent;
  }
  header#list .menu_mobile .login_home .agency_zilo {
    border: 1px solid #c72528;
  }
  header#list .menu_mobile .login_home .agency_zilo a {
    color: #c72528;
    background: transparent;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: -moz-max-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    outline: unset;
    border: 1px solid #fff;
    text-decoration: none;
  }
  header#list .menu_mobile ul {
    display: block;
    background-color: #fff;
    display: unset;
    width: 100%;
  }
  header#list .menu_mobile ul li .menu_child {
    display: none;
    background-color: #f8f9fa;
    list-style: none;
  }
  header#list .menu_mobile ul li .menu_child li {
    padding-left: 20px;
  }
  header#list .menu_mobile ul li a.phone strong {
    font-size: 16px;
  }
  header#list .menu_mobile ul li a {
    text-decoration: none;
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .menu_mobile ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  header#list .col_left {
    width: 10% !important;
  }
  header#list .col_left .logo_zilo {
    position: relative;
  }
  header#list .col_left .logo_zilo i {
    display: block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    position: absolute;
    right: -38px;
    top: 9px;
    color: #c72528;
    padding: 12px;
  }
  header#list .col_between {
    width: 100%;
    height: 100%;
    padding: 0 18px !important;
  }
  header#list .col_between .search_list form input {
    font-size: 14px;
  }
  header#list .col_right {
    width: 90%;
    display: none;
  }
  header#list .col_right .login_home {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  header#list .col_right .menu_home {
    padding: 0 15px;
    display: none;
  }
  header#list .col_right .menu_home ul {
    display: block;
    background-color: #fff;
    display: unset;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
  }
  header#list .col_right .menu_home ul li .menu_child {
    display: block;
  }
  header#list .col_right .menu_home ul li a {
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .col_right .menu_home ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  .content_detail_house .main_detail .list_info.basic_infomation > ul > li {
    width: 100%;
  }
  .content_detail_house .main_detail .images_house .cover {
    margin-right: 0px !important;
  }
  .housing_nearby .content_housing_nearby .compare_house {
    margin-bottom: 50px;
  }
  .housing_nearby .content_housing_nearby .compare_house .article > div {
    display: block;
    width: 100% !important;
  }
  .housing_nearby .content_housing_nearby .compare_house .article .img {
    height: 150px;
    padding-right: 0px;
    margin-bottom: 15px;
  }
  footer .main_footer .contact {
    width: 50% !important;
  }
  footer .list_info_footer {
    display: unset !important;
  }
  footer .list_info_footer li.address {
    margin-bottom: 10px;
  }
  footer .list_info_footer > li {
    width: 50% !important;
  }
}
/*# sourceMappingURL=details.css.map */