* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
    background: rgba(243,244,247,.5)!important;
}
header#home{
    display: flex;
    width: 100%;
    height: 58px;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 5%;
        height: 100%;
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 8px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_right{
        width: 95%;
        height: 100%;
        display: flex;
        .menu_home{
            width: 100%;
            height: 100%;
            line-height: 55px;
            ul{
                display: flex;
                justify-content: flex-end;
                list-style: none;
                li{
                    margin: 0 10px;
                    position: relative;
                    &:hover{
                        ul.menu_child{
                            display: block;
                        }
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        i{
                            margin-left: 6px;
                        }
                    }
                }
            }
            ul.menu_child{
                position: absolute;
                display: none;
                right: 0;
                z-index: 100;
                background: #fff;
                padding: 10px 0;
                border-radius: 2px;
                width: 200px;
                border: 1px solid rgba(131,131,131,.2);
                -webkit-transition: .1s ease all;
                -o-transition: .1s ease all;
                transition: .1s ease all;
                -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
                li{
                    display: block;
                    white-space: nowrap;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 25px;
                    margin: 0;
                    text-align: left;
                    &:hover{
                        background: #f3f4f7;
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        color: #30333a;
                        font-weight: 400px;
                    }
                }
            }
            ul.menu_child::before{
                position: absolute;
                bottom: 100%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: #fff;
                border-width: 8px;
                right: 14px;
                top: -16px;
                opacity: 1;
                z-index: 101;
            }
        }
        .login_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            .btn-login {
                display: block;
                color: #fff;
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 0 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
            }
            .agency_zilo{
                a{
                    color: #fff;
                    font-size: 14px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    cursor: pointer;
                    font-weight: 500;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    min-width: -webkit-fit-content;
                    min-width: -moz-fit-content;
                    min-width: fit-content;
                    min-width: -moz-min-content;
                    max-width: -moz-max-content;
                    text-align: center;
                    border-radius: 2px;
                    padding: 0 20px;
                    white-space: nowrap;
                    outline: unset;
                    border: 1px solid #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

#home::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -80%;
    left: 0;
    z-index: -1;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: -o-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: linear-gradient(180deg,rgba(0,0,0,.5),transparent);
}


section{
    margin-bottom: 20px;
}

.banner_top  {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    .banner_cover{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgba(0,0,0,.2);
        z-index: 1;
        top: 0;
        left: 0;
        .banner_search{
            margin: auto;
            width: 800px;
            h1{
                font-family: 'Helvetica Neue', serif;
                color: #fff;
                margin-bottom: 20px;
                font-weight: 500;
                text-align: center;
                font-size: 38px;
            }
            label{
                font-weight: 400;
                margin: 0 6px;
                font-size: 18px;
                color: #fff;
                padding-bottom: 8px;
                cursor: pointer;
            }
            label.lb_active{
                border-bottom: 2px solid #fff;
            }
            form{
                margin-top: 20px;
                .input_search{
                    position: relative;
                    i.fal.fa-search{
                        position: absolute;
                        top: 16px;
                        left: 20px;
                        font-size: 20px;
                        color: #6c757d;
                    }
                    input{
                        font-size: 18px;
                        height: 55px;
                        width: 100%;
                        background: #fff;
                        border: 0!important;
                        outline: none;
                        padding: 0 20px 0 60px;
                        float: left;
                        -webkit-appearance: none;
                    }
                    button.btn_mb{
                        display: none;
                    }
                    button.btn_pc{
                        position: absolute;
                        right: 0;
                        width: calc(100% - 650px);
                        height: 55px;
                        background: #cf373a;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.project_hot{
    margin-top: 12px;
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        margin-bottom: 20px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .list_article{
        transition: all .3s;
        border: 1px solid rgba(131,131,131,.2);
        margin-bottom: 30px;
        &:hover{
            transform: translate(0,-2px);
            -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
            box-shadow: 0 0 6px rgba(0,0,0,.15);
        }
    }
    .cover_image{
        position: relative;
        p{
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: center;
            padding: 7px 7px 5px 7px;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 12px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            z-index: 2;
            border-radius: 2px;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .mark_cover_image{
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 8px 0;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 14px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            width: 100%;
            z-index: 2;
        }
    }
    .info_project{
        position: relative;
        width: 100%;
        padding: 15px;
        background: #fff;
        ul.info_house{
            margin-top: 15px;
            display: flex;
            list-style: none;
            margin-bottom: 0;
            li{
                display: inline-block;
                width: auto;
                font-size: 14px;
                margin-right: 15px;
                color: #838383;
                i{
                    font-size: 12px;
                    color: #30333a;
                    padding-right: 5px;
                }
            }
        }
        h3{
            a.name_project{
                display: block;
                font-size: 16px;
                color: #30333a;
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .address_project{
            margin-top: 8px;
            display: block;
            color: #838383;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price_project{
            margin-top: 15px;
            span{
                color: #30333a;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.3;
            }
        }
        .price_house{
            display: block;
            position: absolute;
            right: 20px;
            bottom: 15px;
            font-size: 14px;
            font-weight: 600;
            color: #30333a;
            text-align: right;
        }
    }
}

a.more{
    color: #337588;
    font-weight: 400;
    font-size: 17px;
    display: block;
    float: left;
    clear: both;
    text-decoration: none;
    i{
        font-size: 13px;
        margin-left: 10px;
    }
}

.investors{
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    p.des_inves{
        margin-bottom: 20px;
        color: #838383;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .image_investor{
        padding: 20px;
        background: #fff;
        border: 1px solid rgba(131,131,131,.1);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        width: 100%;
        height: 160px;
        margin-bottom: 30px;
        &:hover{
            transform: translate(0,-2px);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.browser_house{
    h2{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #444c59;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .col_house{
        list-style: none;
        li{
            height: 30px;
            line-height: 30px;
            padding-right: 20px;
            a{
                font-size: 12px;
                display: inline-block;
                width: 100%;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #337588;
                text-decoration: none;
            }
        }
    }
}

// Form popup Login
.popup_login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    padding: 25px;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: 0.7;
        z-index: 2;
    }
    .main_login {
        background: #f3f4f7;
        position: relative;
        z-index: 12;
        max-width: 525px;
        height: 320px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        .close_login {
            outline: none;
            position: absolute;
            right: -13px;
            top: -12px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            padding: 0px;
            font-size: 15px;
            color: #000;
            &:hover{
                color: #c72528;
            }
        }
        .logo_login {
            height: 50px;
            width: 50px;
            padding: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            text-align: center;
            margin-bottom: 25px;
            font-family: 'Helvetica Neue', serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin-top: 20px;
        }
        .socical {
            width: 100%;
            padding: 0 40px;
        }
        .fb_login{
            width: 100%;
            text-align: center;
            background: #3b5999;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 14px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            font-size: 16px;
            &:hover{
                opacity: 0.8;
            }
        }
        .gg_login{
            width: 100%;
            text-align: center;
            background: #4a90e2;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 16px;
            margin: 15px 0;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

footer#footer{
    width: 100%;
    background: #000111;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    .row_one,.row_two{
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .row_three{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(255,255,255,.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(255,255,255,.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .main_footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 18px;
        .contact{
            display: flex;
            width: 20%;
            .icon{
                width: 20px;
                margin-right: 10px;
                i{
                    font-size: 16px;
                    padding: 0;
                    margin-top: 4px;
                }
            }
            .details{
                p.title{
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                p.link{
                    a{
                        font-size: 16px;
                        color: #00a6bd;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
        .list_info_footer{
            list-style: none;
            margin-top: 25px;
            width: 100%;
            display: flex;
            >li{
                width: 20%;
                span{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                }
                >ul{
                    list-style: none;
                    margin-top: 8px;
                    li{
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: rgba(255,255,255,.5);
                            text-decoration: none;
                        }
                    }
                }
            }
            li.address{
                p{
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                    line-height: 1.4;
                    margin-bottom: 20px;
                    margin-top: 25px;
                }
                .socical_group{
                    display: flex;
                    a{
                        min-width: 20px;
                        margin-right: 10px;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}









@media (max-width: 768px){
    header#home{
        padding: 0 15px;
        .menu_mobile {
            display: none;
            position: absolute;
            top: 58px;
            background: #fff;
            width: 100%;
            padding-bottom: 100px;
            left: 0;
            .login_home{
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;
                line-height: 35px;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(48, 51, 58, 0.1);
                .btn-login {
                    display: block;
                    width: auto;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    border: 0;
                    padding: 3px 42px 0 42px;
                    white-space: nowrap;
                    text-decoration: none;
                    color: #30333a;
                    border: 1px solid #30333a;
                    background: transparent;
                }
                .agency_zilo{
                    border: 1px solid #c72528;
                    a{
                        color: #c72528;
                        background: transparent;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        margin: 0 auto;
                        cursor: pointer;
                        font-weight: 600;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        min-width: -webkit-fit-content;
                        min-width: -moz-fit-content;
                        min-width: fit-content;
                        min-width: -moz-min-content;
                        max-width: -moz-max-content;
                        text-align: center;
                        border-radius: 2px;
                        padding: 0 20px;
                        white-space: nowrap;
                        outline: unset;
                        border: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
            ul{
                display: block;
                background-color: #fff;
                display: unset;
                width: 100%;
                li{
                    .menu_child{
                        display: none;
                        background-color: #f8f9fa;
                        list-style: none;
                        li{
                            padding-left: 20px;
                        }
                    }
                    a.phone{
                        strong{
                            font-size: 16px;
                        }
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        margin: 0 18px;
                        height: 50px;
                        line-height: 50px;
                        text-align: left;
                        color: #30333a;
                        border-bottom: 1px solid rgba(48,51,58,.1);
                        -webkit-transition: all 100ms ease-in;
                        -o-transition: all 100ms ease-in;
                        transition: all 100ms ease-in;
                        i{
                            margin-top: 18px;
                            float: right;
                            color: #c72628;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .col_left{
            width: 10% !important;
            .logo_zilo{
                position: relative;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #fff;
                    padding: 12px;
                }
            }
        }
        .col_right{
            width: 90%;
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
    } 
    .banner_top{
        height: 400px;
        .banner_cover{
            .banner_search{
                width: 300px;
                h1{
                    display: none;
                }
                i.fal.fa-search{
                    display: none;
                }
                input{
                    height: 35px !important;
                    font-size: 14px !important;
                    padding: 0 30px 0 10px !important;
                }
                label{
                    font-size: 16px !important;
                }
                .btn_pc{
                    display: none;
                }
                .btn_mb{
                    position: absolute;
                    right: 0;
                    background: #cf373a;
                    color: #fff;
                    display: block !important;
                    height: 35px !important;
                    width: unset !important;
                    font-size: 12px;
                    padding: 0 20px;
                    i{
                        display: block !important;
                        color: #fff !important;
                        position: absolute;
                        left: 12px !important;
                        top: 10px !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
    footer{
        .main_footer{
            .contact{
                width: 50% !important;
            }
        }
        .list_info_footer{
            display: unset !important;
            li.address {
                margin-bottom: 10px;
            }
            >li{
                width: 50% !important;
            }
        }
    }
}







