* {
  padding: 0;
  margin: 0;
  border: none;
}

body#home {
  font-family: 'Arial', serif;
  font-size: 16px;
  line-height: 1;
  color: #444c59;
  font-weight: 400;
  background: rgba(243, 244, 247, 0.5) !important;
}

body#list {
  font-family: 'Arial', serif;
  font-size: 16px;
  line-height: 1;
  color: #444c59;
  font-weight: 400;
}

header#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

header#home .menu_mobile {
  display: none;
}

header#home .col_left {
  width: 5%;
  height: 100%;
}

header#home .col_left .logo_zilo {
  height: 100%;
  width: 100%;
  padding: 8px 0;
}

header#home .col_left .logo_zilo i {
  display: none;
}

header#home .col_left .logo_zilo img {
  width: 100%;
  height: 100%;
}

header#home .col_right {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#home .col_right .menu_home {
  width: 100%;
  height: 100%;
  line-height: 55px;
}

header#home .col_right .menu_home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header#home .col_right .menu_home ul li {
  margin: 0 10px;
  position: relative;
}

header#home .col_right .menu_home ul li:hover ul.menu_child {
  display: block;
}

header#home .col_right .menu_home ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

header#home .col_right .menu_home ul li a i {
  margin-left: 6px;
}

header#home .col_right .menu_home ul.menu_child {
  position: absolute;
  display: none;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  width: 200px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

header#home .col_right .menu_home ul.menu_child li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

header#home .col_right .menu_home ul.menu_child li:hover {
  background: #f3f4f7;
}

header#home .col_right .menu_home ul.menu_child li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: 400px;
}

header#home .col_right .menu_home ul.menu_child::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  right: 14px;
  top: -16px;
  opacity: 1;
  z-index: 101;
}

header#home .col_right .login_home {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
}

header#home .col_right .login_home .btn-login {
  display: block;
  color: #fff;
  width: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 0 20px;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
}

header#home .col_right .login_home .agency_zilo a {
  color: #fff;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
  outline: unset;
  border: 1px solid #fff;
  text-decoration: none;
}

header#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  background: transparent;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

header#list .menu_mobile {
  display: none;
}

header#list .col_left {
  width: 5%;
  height: 100%;
}

header#list .col_left .logo_zilo {
  height: 100%;
  width: 100%;
  padding: 8px 0;
}

header#list .col_left .logo_zilo i {
  display: none;
}

header#list .col_left .logo_zilo img {
  width: 100%;
  height: 100%;
}

header#list .col_between {
  width: 35%;
  height: 100%;
}

header#list .col_between .search_list {
  margin-top: 7px;
}

header#list .col_between .search_list form {
  position: relative;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}

header#list .col_between .search_list form i {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 18px;
  color: #000;
  z-index: 1;
}

header#list .col_between .search_list form input {
  width: 100%;
  max-width: 500px;
  padding-left: 50px;
  height: 44px;
  line-height: 44px;
  border: 1px solid rgba(48, 51, 58, 0.3);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  position: relative;
}

header#list .col_between .search_list form input:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header#list .col_right {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#list .col_right .menu_home {
  width: 100%;
  height: 100%;
  line-height: 55px;
}

header#list .col_right .menu_home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header#list .col_right .menu_home ul li {
  margin: 0 10px;
  position: relative;
}

header#list .col_right .menu_home ul li:hover ul.menu_child {
  display: block;
}

header#list .col_right .menu_home ul li a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul li a i {
  margin-left: 6px;
  color: #ff0005;
}

header#list .col_right .menu_home ul.menu_child {
  position: absolute;
  display: none;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  width: 200px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

header#list .col_right .menu_home ul.menu_child li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

header#list .col_right .menu_home ul.menu_child li:hover {
  background: #f3f4f7;
}

header#list .col_right .menu_home ul.menu_child li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: 400px;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul.menu_child::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  right: 14px;
  top: -16px;
  opacity: 1;
  z-index: 101;
}

header#list .col_right .login_home {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
}

header#list .col_right .login_home .btn-login {
  display: block;
  color: rgba(48, 51, 58, 0.86);
  width: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 0 20px;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .login_home .agency_zilo a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
  outline: unset;
  border: 1px solid rgba(48, 51, 58, 0.86);
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

#home::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -80%;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}

section {
  margin-bottom: 20px;
}

.banner_top {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
}

.banner_top .banner_cover {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 0;
}

.banner_top .banner_cover .banner_search {
  margin: auto;
  width: 800px;
}

.banner_top .banner_cover .banner_search h1 {
  font-family: 'Helvetica Neue', serif;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 38px;
}

.banner_top .banner_cover .banner_search label {
  font-weight: 400;
  margin: 0 6px;
  font-size: 18px;
  color: #fff;
  padding-bottom: 8px;
  cursor: pointer;
}

.banner_top .banner_cover .banner_search label.lb_active {
  border-bottom: 2px solid #fff;
}

.banner_top .banner_cover .banner_search form {
  margin-top: 20px;
}

.banner_top .banner_cover .banner_search form .input_search {
  position: relative;
}

.banner_top .banner_cover .banner_search form .input_search i.fal.fa-search {
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 20px;
  color: #6c757d;
}

.banner_top .banner_cover .banner_search form .input_search input {
  font-size: 18px;
  height: 55px;
  width: 100%;
  background: #fff;
  border: 0 !important;
  outline: none;
  padding: 0 20px 0 60px;
  float: left;
  -webkit-appearance: none;
}

.banner_top .banner_cover .banner_search form .input_search button.btn_mb {
  display: none;
}

.banner_top .banner_cover .banner_search form .input_search button.btn_pc {
  position: absolute;
  right: 0;
  width: calc(100% - 650px);
  height: 55px;
  background: #cf373a;
  color: #fff;
}

.project_hot {
  margin-top: 12px;
}

.project_hot h2 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Helvetica Neue', serif;
  color: #000;
  margin-bottom: 20px;
  display: block;
  float: left;
  width: 100%;
  line-height: 1.92;
}

.project_hot .list_article {
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid rgba(131, 131, 131, 0.2);
  margin-bottom: 30px;
}

.project_hot .list_article:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.project_hot .cover_image {
  position: relative;
}

.project_hot .cover_image p {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  padding: 7px 7px 5px 7px;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 12px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  z-index: 2;
  border-radius: 2px;
  text-transform: uppercase;
}

.project_hot .cover_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project_hot .cover_image .mark_cover_image {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 14px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  width: 100%;
  z-index: 2;
}

.project_hot .info_project {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
}

.project_hot .info_project ul.info_house {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.project_hot .info_project ul.info_house li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.project_hot .info_project ul.info_house li i {
  font-size: 12px;
  color: #30333a;
  padding-right: 5px;
}

.project_hot .info_project h3 a.name_project {
  display: block;
  font-size: 16px;
  color: #30333a;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project_hot .info_project .address_project {
  margin-top: 8px;
  display: block;
  color: #838383;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project_hot .info_project .price_project {
  margin-top: 15px;
}

.project_hot .info_project .price_project span {
  color: #30333a;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}

.project_hot .info_project .price_house {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #30333a;
  text-align: right;
}

a.more {
  color: #337588;
  font-weight: 400;
  font-size: 17px;
  display: block;
  float: left;
  clear: both;
  text-decoration: none;
}

a.more i {
  font-size: 13px;
  margin-left: 10px;
}

.investors h2 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Helvetica Neue', serif;
  color: #000;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
  line-height: 1.92;
}

.investors p.des_inves {
  margin-bottom: 20px;
  color: #838383;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.investors .image_investor {
  padding: 20px;
  background: #fff;
  border: 1px solid rgba(131, 131, 131, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
}

.investors .image_investor:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.investors .image_investor img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.browser_house h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Helvetica Neue', serif;
  color: #444c59;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
  line-height: 1.92;
}

.browser_house .col_house {
  list-style: none;
}

.browser_house .col_house li {
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}

.browser_house .col_house li a {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #337588;
  text-decoration: none;
}

footer#footer {
  width: 100%;
  background: #000111;
  color: #fff;
  padding: 30px 15px;
}

footer#footer .row_one, footer#footer .row_two {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

footer#footer .row_three {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#footer .row_three .left {
  float: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
}

footer#footer .row_three .right {
  float: right;
}

footer#footer .row_three .right a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 16px;
}

footer#footer .main_footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

footer#footer .main_footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

footer#footer .main_footer .contact .icon {
  width: 20px;
  margin-right: 10px;
}

footer#footer .main_footer .contact .icon i {
  font-size: 16px;
  padding: 0;
  margin-top: 4px;
}

footer#footer .main_footer .contact .details p.title {
  font-size: 12px;
  margin-bottom: 7px;
}

footer#footer .main_footer .contact .details p.link a {
  font-size: 16px;
  color: #00a6bd;
  font-weight: 500;
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer {
  list-style: none;
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer > li {
  width: 20%;
}

footer#footer .main_footer .list_info_footer > li span {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

footer#footer .main_footer .list_info_footer > li > ul {
  list-style: none;
  margin-top: 8px;
}

footer#footer .main_footer .list_info_footer > li > ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

footer#footer .main_footer .list_info_footer > li > ul li a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer li.address p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 25px;
}

footer#footer .main_footer .list_info_footer li.address .socical_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer li.address .socical_group a {
  min-width: 20px;
  margin-right: 10px;
  padding: 0;
  color: #fff;
}

.top_list {
  margin-top: 58px;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px;
}

.top_list h1 {
  display: inline-block;
  margin-top: 14px;
  padding-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(48, 51, 58, 0.86);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #30333a;
  font-family: Segoe UI,sans-serif;
}

.popup_login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
  padding: 25px;
}

.popup_login .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
}

.popup_login .main_login {
  background: #f3f4f7;
  position: relative;
  z-index: 12;
  max-width: 525px;
  height: 320px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup_login .main_login .close_login {
  outline: none;
  position: absolute;
  right: -13px;
  top: -12px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  padding: 0px;
  font-size: 15px;
  color: #000;
}

.popup_login .main_login .close_login:hover {
  color: #c72528;
}

.popup_login .main_login .logo_login {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.popup_login .main_login .logo_login img {
  width: 100%;
  height: 100%;
}

.popup_login .main_login h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 20px;
}

.popup_login .main_login .socical {
  width: 100%;
  padding: 0 40px;
}

.popup_login .main_login .fb_login {
  width: 100%;
  text-align: center;
  background: #3b5999;
  color: #fff;
  padding: 17px 10px 13px 10px;
  display: block;
  font-weight: 600;
  position: relative;
  text-decoration: none !important;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  font-size: 16px;
}

.popup_login .main_login .fb_login:hover {
  opacity: 0.8;
}

.popup_login .main_login .gg_login {
  width: 100%;
  text-align: center;
  background: #4a90e2;
  color: #fff;
  padding: 17px 10px 13px 10px;
  display: block;
  font-weight: 600;
  position: relative;
  text-decoration: none !important;
  font-size: 16px;
  margin: 15px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.popup_login .main_login .gg_login:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  header#home {
    padding: 0 15px;
  }
  header#home .menu_mobile {
    display: none;
    position: absolute;
    top: 58px;
    background: #fff;
    width: 100%;
    padding-bottom: 100px;
    left: 0;
  }
  header#home .menu_mobile .login_home {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    line-height: 35px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  }
  header#home .menu_mobile .login_home .btn-login {
    display: block;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 3px 42px 0 42px;
    white-space: nowrap;
    text-decoration: none;
    color: #30333a;
    border: 1px solid #30333a;
    background: transparent;
  }
  header#home .menu_mobile .login_home .agency_zilo {
    border: 1px solid #c72528;
  }
  header#home .menu_mobile .login_home .agency_zilo a {
    color: #c72528;
    background: transparent;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: -moz-max-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    outline: unset;
    border: 1px solid #fff;
    text-decoration: none;
  }
  header#home .menu_mobile ul {
    display: block;
    background-color: #fff;
    display: unset;
    width: 100%;
  }
  header#home .menu_mobile ul li .menu_child {
    display: none;
    background-color: #f8f9fa;
    list-style: none;
  }
  header#home .menu_mobile ul li .menu_child li {
    padding-left: 20px;
  }
  header#home .menu_mobile ul li a.phone strong {
    font-size: 16px;
  }
  header#home .menu_mobile ul li a {
    text-decoration: none;
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#home .menu_mobile ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  header#home .col_left {
    width: 10% !important;
  }
  header#home .col_left .logo_zilo {
    position: relative;
  }
  header#home .col_left .logo_zilo i {
    display: block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    position: absolute;
    right: -38px;
    top: 9px;
    color: #fff;
    padding: 12px;
  }
  header#home .col_right {
    width: 90%;
  }
  header#home .col_right .login_home {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  header#home .col_right .menu_home {
    padding: 0 15px;
    display: none;
  }
  header#home .col_right .menu_home ul {
    display: block;
    background-color: #fff;
    display: unset;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
  }
  header#home .col_right .menu_home ul li .menu_child {
    display: block;
  }
  header#home .col_right .menu_home ul li a {
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#home .col_right .menu_home ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  .banner_top {
    height: 400px;
  }
  .banner_top .banner_cover .banner_search {
    width: 300px;
  }
  .banner_top .banner_cover .banner_search h1 {
    display: none;
  }
  .banner_top .banner_cover .banner_search i.fal.fa-search {
    display: none;
  }
  .banner_top .banner_cover .banner_search input {
    height: 35px !important;
    font-size: 14px !important;
    padding: 0 30px 0 10px !important;
  }
  .banner_top .banner_cover .banner_search label {
    font-size: 16px !important;
  }
  .banner_top .banner_cover .banner_search .btn_pc {
    display: none;
  }
  .banner_top .banner_cover .banner_search .btn_mb {
    position: absolute;
    right: 0;
    background: #cf373a;
    color: #fff;
    display: block !important;
    height: 35px !important;
    width: unset !important;
    font-size: 12px;
    padding: 0 20px;
  }
  .banner_top .banner_cover .banner_search .btn_mb i {
    display: block !important;
    color: #fff !important;
    position: absolute;
    left: 12px !important;
    top: 10px !important;
    font-size: 16px !important;
  }
  footer .main_footer .contact {
    width: 50% !important;
  }
  footer .list_info_footer {
    display: unset !important;
  }
  footer .list_info_footer li.address {
    margin-bottom: 10px;
  }
  footer .list_info_footer > li {
    width: 50% !important;
  }
}
/*# sourceMappingURL=style.css.map */