header#list{
    display: flex;
    width: 100%;
    height: 58px;
    background: #fff;
    border-bottom: 1px solid rgba(48,51,58,.1);
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 5%;
        height: 100%;
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 8px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_between{
        width: 35%;
        height: 100%;
        text-align: left;
        .search_list{
            margin-top: 7px;
            width: 100%;
            height: 100%;
            form{
                position: relative;
                margin-left: 20px;
                
                i{
                    position: absolute;
                    left: 16px;
                    top: 12px;
                    font-size: 18px;
                    color: #000;
                    z-index: 1;
                }
                input{
                    width: 100%;
                    max-width: 500px;
                    padding-left: 50px;
                    height: 44px;
                    line-height: 44px;
                    border: 1px solid rgba(48,51,58,.3);
                    border-radius: 2px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-shadow: 0;
                    box-shadow: 0;
                    position: relative;
                    &:hover{
                        box-shadow: 0 2px 4px rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
    .col_right{
        width: 65%;
        height: 100%;
        display: flex;
        .menu_home{
            width: 100%;
            height: 100%;
            line-height: 55px;
            ul{
                display: flex;
                justify-content: flex-end;
                list-style: none;
                li{
                    margin: 0 10px;
                    position: relative;
                    &:hover{
                        ul.menu_child{
                            display: block;
                        }
                    }
                    a{
                        color: rgba(48,51,58,.86);
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        font-family: Segoe UI,sans-serif;
                        i{
                            margin-left: 6px;
                            color: #ff0005;
                        }
                    }
                }
            }
            ul.menu_child{
                position: absolute;
                display: none;
                right: 0;
                z-index: 100;
                background: #fff;
                padding: 10px 0;
                border-radius: 2px;
                width: 245px;
                border: 1px solid rgba(131,131,131,.2);
                -webkit-transition: .1s ease all;
                -o-transition: .1s ease all;
                transition: .1s ease all;
                -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
                li{
                    display: block;
                    white-space: nowrap;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 25px;
                    margin: 0;
                    text-align: left;
                    &:hover{
                        background: #f3f4f7;
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        color: #30333a;
                        font-weight: 400px;
                        font-family: Segoe UI,sans-serif;
                    }
                }
            }
            ul.menu_child::before{
                position: absolute;
                bottom: 100%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: #fff;
                border-width: 8px;
                right: 14px;
                top: -16px;
                opacity: 1;
                z-index: 101;
            }
        }
        .login_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            .btn-login {
                display: block;
                color: rgba(48,51,58,.86);
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 0 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
                font-family: Segoe UI,sans-serif;
            }
            .agency_zilo{
                a{
                    color: rgba(48,51,58,.86);
                    font-size: 14px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    cursor: pointer;
                    font-weight: 500;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    min-width: -webkit-fit-content;
                    min-width: -moz-fit-content;
                    min-width: fit-content;
                    min-width: -moz-min-content;
                    max-width: -moz-max-content;
                    text-align: center;
                    border-radius: 2px;
                    padding: 0 20px;
                    white-space: nowrap;
                    outline: unset;
                    border: 1px solid rgba(48,51,58,.86);
                    text-decoration: none;
                    font-family: Segoe UI,sans-serif;
                }
            }
        }
    }
}

@media (max-width: 768px){
    header#list{
        padding: 0 15px;
        .menu_mobile {
            display: none;
            position: absolute;
            top: 58px;
            background: #fff;
            width: 100%;
            padding-bottom: 100px;
            left: 0;
            .login_home{
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;
                line-height: 35px;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(48, 51, 58, 0.1);
                .btn-login {
                    display: block;
                    width: auto;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    border: 0;
                    padding: 3px 42px 0 42px;
                    white-space: nowrap;
                    text-decoration: none;
                    color: #30333a;
                    border: 1px solid #30333a;
                    background: transparent;
                }
                .agency_zilo{
                    border: 1px solid #c72528;
                    a{
                        color: #c72528;
                        background: transparent;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        margin: 0 auto;
                        cursor: pointer;
                        font-weight: 600;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        min-width: -webkit-fit-content;
                        min-width: -moz-fit-content;
                        min-width: fit-content;
                        min-width: -moz-min-content;
                        max-width: -moz-max-content;
                        text-align: center;
                        border-radius: 2px;
                        padding: 0 20px;
                        white-space: nowrap;
                        outline: unset;
                        border: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
            ul{
                display: block;
                background-color: #fff;
                display: unset;
                width: 100%;
                li{
                    .menu_child{
                        display: none;
                        background-color: #f8f9fa;
                        list-style: none;
                        li{
                            padding-left: 20px;
                        }
                    }
                    a.phone{
                        strong{
                            font-size: 16px;
                        }
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        margin: 0 18px;
                        height: 50px;
                        line-height: 50px;
                        text-align: left;
                        color: #30333a;
                        border-bottom: 1px solid rgba(48,51,58,.1);
                        -webkit-transition: all 100ms ease-in;
                        -o-transition: all 100ms ease-in;
                        transition: all 100ms ease-in;
                        i{
                            margin-top: 18px;
                            float: right;
                            color: #c72628;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .col_left{
            width: 10% !important;
            .logo_zilo{
                position: relative;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #c72528;
                    padding: 12px;
                }
            }
        }
        .col_between {
            width: 100%;
            height: 100%;
            padding: 0 18px !important;
            .search_list{
                form{
                    input{
                        font-size: 14px;
                    }
                }
            }
        }
        .col_right{
            width: 90%;
            display: none;
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
    } 
}