header#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  background: #fff;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header#list .menu_mobile {
  display: none;
}

header#list .col_left {
  width: 5%;
  height: 100%;
}

header#list .col_left .logo_zilo {
  height: 100%;
  width: 100%;
  padding: 8px 0;
}

header#list .col_left .logo_zilo i {
  display: none;
}

header#list .col_left .logo_zilo img {
  width: 100%;
  height: 100%;
}

header#list .col_between {
  width: 35%;
  height: 100%;
  text-align: left;
}

header#list .col_between .search_list {
  margin-top: 7px;
  width: 100%;
  height: 100%;
}

header#list .col_between .search_list form {
  position: relative;
  margin-left: 20px;
}

header#list .col_between .search_list form i {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 18px;
  color: #000;
  z-index: 1;
}

header#list .col_between .search_list form input {
  width: 100%;
  max-width: 500px;
  padding-left: 50px;
  height: 44px;
  line-height: 44px;
  border: 1px solid rgba(48, 51, 58, 0.3);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  position: relative;
}

header#list .col_between .search_list form input:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header#list .col_right {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#list .col_right .menu_home {
  width: 100%;
  height: 100%;
  line-height: 55px;
}

header#list .col_right .menu_home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header#list .col_right .menu_home ul li {
  margin: 0 10px;
  position: relative;
}

header#list .col_right .menu_home ul li:hover ul.menu_child {
  display: block;
}

header#list .col_right .menu_home ul li a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul li a i {
  margin-left: 6px;
  color: #ff0005;
}

header#list .col_right .menu_home ul.menu_child {
  position: absolute;
  display: none;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  width: 245px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

header#list .col_right .menu_home ul.menu_child li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

header#list .col_right .menu_home ul.menu_child li:hover {
  background: #f3f4f7;
}

header#list .col_right .menu_home ul.menu_child li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: 400px;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul.menu_child::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  right: 14px;
  top: -16px;
  opacity: 1;
  z-index: 101;
}

header#list .col_right .login_home {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
}

header#list .col_right .login_home .btn-login {
  display: block;
  color: rgba(48, 51, 58, 0.86);
  width: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 0 20px;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .login_home .agency_zilo a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
  outline: unset;
  border: 1px solid rgba(48, 51, 58, 0.86);
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

@media (max-width: 768px) {
  header#list {
    padding: 0 15px;
  }
  header#list .menu_mobile {
    display: none;
    position: absolute;
    top: 58px;
    background: #fff;
    width: 100%;
    padding-bottom: 100px;
    left: 0;
  }
  header#list .menu_mobile .login_home {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    line-height: 35px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  }
  header#list .menu_mobile .login_home .btn-login {
    display: block;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 3px 42px 0 42px;
    white-space: nowrap;
    text-decoration: none;
    color: #30333a;
    border: 1px solid #30333a;
    background: transparent;
  }
  header#list .menu_mobile .login_home .agency_zilo {
    border: 1px solid #c72528;
  }
  header#list .menu_mobile .login_home .agency_zilo a {
    color: #c72528;
    background: transparent;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: -moz-max-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    outline: unset;
    border: 1px solid #fff;
    text-decoration: none;
  }
  header#list .menu_mobile ul {
    display: block;
    background-color: #fff;
    display: unset;
    width: 100%;
  }
  header#list .menu_mobile ul li .menu_child {
    display: none;
    background-color: #f8f9fa;
    list-style: none;
  }
  header#list .menu_mobile ul li .menu_child li {
    padding-left: 20px;
  }
  header#list .menu_mobile ul li a.phone strong {
    font-size: 16px;
  }
  header#list .menu_mobile ul li a {
    text-decoration: none;
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .menu_mobile ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  header#list .col_left {
    width: 10% !important;
  }
  header#list .col_left .logo_zilo {
    position: relative;
  }
  header#list .col_left .logo_zilo i {
    display: block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    position: absolute;
    right: -38px;
    top: 9px;
    color: #c72528;
    padding: 12px;
  }
  header#list .col_between {
    width: 100%;
    height: 100%;
    padding: 0 18px !important;
  }
  header#list .col_between .search_list form input {
    font-size: 14px;
  }
  header#list .col_right {
    width: 90%;
    display: none;
  }
  header#list .col_right .login_home {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  header#list .col_right .menu_home {
    padding: 0 15px;
    display: none;
  }
  header#list .col_right .menu_home ul {
    display: block;
    background-color: #fff;
    display: unset;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
  }
  header#list .col_right .menu_home ul li .menu_child {
    display: block;
  }
  header#list .col_right .menu_home ul li a {
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .col_right .menu_home ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
}
/*# sourceMappingURL=header.css.map */