* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Arial', serif;
  font-size: 16px;
  line-height: 1;
  color: #444c59;
  font-weight: 400;
  background: rgba(243, 244, 247, 0.5) !important;
}

section {
  margin-bottom: 20px;
}

a.more {
  color: #337588;
  font-weight: 400;
  font-size: 17px;
  display: block;
  float: left;
  clear: both;
  text-decoration: none;
}

a.more i {
  font-size: 13px;
  margin-left: 10px;
}
/*# sourceMappingURL=home.css.map */