* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Arial', serif;
  font-size: 16px;
  line-height: 1;
  color: #444c59;
  font-weight: 400;
}

header#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  background: #fff;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header#list .menu_mobile {
  display: none;
}

header#list .col_left {
  width: 5%;
  height: 100%;
}

header#list .col_left .logo_zilo {
  height: 100%;
  width: 100%;
  padding: 8px 0;
}

header#list .col_left .logo_zilo i {
  display: none;
}

header#list .col_left .logo_zilo img {
  width: 100%;
  height: 100%;
}

header#list .col_between {
  width: 35%;
  height: 100%;
  text-align: left;
}

header#list .col_between .search_list {
  margin-top: 7px;
  width: 100%;
  height: 100%;
}

header#list .col_between .search_list form {
  position: relative;
  margin-left: 20px;
}

header#list .col_between .search_list form i {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 18px;
  color: #000;
  z-index: 1;
}

header#list .col_between .search_list form input {
  width: 100%;
  max-width: 500px;
  padding-left: 50px;
  height: 44px;
  line-height: 44px;
  border: 1px solid rgba(48, 51, 58, 0.3);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  position: relative;
}

header#list .col_between .search_list form input:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header#list .col_right {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#list .col_right .menu_home {
  width: 100%;
  height: 100%;
  line-height: 55px;
}

header#list .col_right .menu_home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header#list .col_right .menu_home ul li {
  margin: 0 10px;
  position: relative;
}

header#list .col_right .menu_home ul li:hover ul.menu_child {
  display: block;
}

header#list .col_right .menu_home ul li a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul li a i {
  margin-left: 6px;
  color: #ff0005;
}

header#list .col_right .menu_home ul.menu_child {
  position: absolute;
  display: none;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 0;
  border-radius: 2px;
  width: 200px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

header#list .col_right .menu_home ul.menu_child li {
  display: block;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  margin: 0;
  text-align: left;
}

header#list .col_right .menu_home ul.menu_child li:hover {
  background: #f3f4f7;
}

header#list .col_right .menu_home ul.menu_child li a {
  display: block;
  font-size: 14px;
  color: #30333a;
  font-weight: 400px;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .menu_home ul.menu_child::before {
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  right: 14px;
  top: -16px;
  opacity: 1;
  z-index: 101;
}

header#list .col_right .login_home {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
}

header#list .col_right .login_home .btn-login {
  display: block;
  color: rgba(48, 51, 58, 0.86);
  width: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 0 20px;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

header#list .col_right .login_home .agency_zilo a {
  color: rgba(48, 51, 58, 0.86);
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-min-content;
  max-width: -moz-max-content;
  text-align: center;
  border-radius: 2px;
  padding: 0 20px;
  white-space: nowrap;
  outline: unset;
  border: 1px solid rgba(48, 51, 58, 0.86);
  text-decoration: none;
  font-family: Segoe UI,sans-serif;
}

.top_list {
  margin-top: 58px;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px;
  text-align: left;
}

.top_list h1 {
  display: inline-block;
  margin-top: 14px;
  padding-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(48, 51, 58, 0.86);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #30333a;
  font-family: Segoe UI,sans-serif;
}

.top_bar {
  width: 100%;
  height: 60px;
  background: #f3f4f7;
  padding: 0 30px;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  text-align: left;
}

.top_bar h3 {
  display: inline-block;
  margin-top: 16px;
  padding-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(48, 51, 58, 0.86);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  font-family: Segoe UI,sans-serif;
}

.main_list {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.main_list .list_view {
  width: 100%;
  height: 230px;
  padding: 20px 0px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1) !important;
}

.main_list .list_view .image_list {
  max-width: 270px;
  min-width: 270px;
  position: relative;
  margin-right: 30px;
}

.main_list .list_view .image_list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_list .list_view .info_list {
  width: 100%;
  position: relative;
  text-align: left;
}

.main_list .list_view .info_list .list_name {
  font-size: 16px;
  color: #30333a;
  font-weight: 600;
  line-height: 1.5;
  width: calc(100% - 160px);
  white-space: normal;
  height: 50px;
  padding: 0 0 5px;
  vertical-align: top;
  margin: -5px 0 7px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-family: serif,sans-serif;
}

.main_list .list_view .info_list .list_name:hover {
  color: #c72528;
}

.main_list .list_view .info_list .list_address a {
  font-size: 14px;
  color: #30333a;
  font-weight: 500;
  line-height: 1.5;
  width: calc(100% - 160px);
  white-space: normal;
  height: 50px;
  padding: 0 0 5px;
  vertical-align: top;
  margin: -5px 0 7px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-family: Roboto,sans-serif;
}

.main_list .list_view .info_list .list_address a:hover {
  color: #c72528;
}

.main_list .list_view .info_list .list_info {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.main_list .list_view .info_list .list_info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_list .list_view .info_list .list_info ul li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.main_list .list_view .info_list .list_info ul li i {
  color: #333;
  margin-right: 6px;
}

.main_list .list_view .info_list .action_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_list .list_view .info_list .action_group .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_list .list_view .info_list .action_group .customer .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.main_list .list_view .info_list .action_group .customer .avatar img {
  width: 100%;
  height: 100%;
}

.main_list .list_view .info_list .action_group .customer .info_customer h5 {
  font-size: 14px;
  color: #30333a;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 0;
}

.main_list .list_view .info_list .action_group .customer .info_customer h5:hover {
  color: #c72528;
}

.main_list .list_view .info_list .action_group .customer .info_customer p {
  color: rgba(48, 51, 57, 0.7);
  font-size: 12px;
  padding: 0;
  line-height: 20px;
  margin-bottom: 0;
}

.main_list .list_view .info_list .price_time {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #30333a;
  text-align: right;
  top: 20px;
  right: 0px;
}

.main_list .list_view .info_list .date_time {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-size: 14px;
  color: #333;
  opacity: 0.7;
}

.popup_login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
  padding: 25px;
}

.popup_login .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
}

.popup_login .main_login {
  background: #f3f4f7;
  position: relative;
  z-index: 12;
  max-width: 525px;
  height: 320px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup_login .main_login .close_login {
  outline: none;
  position: absolute;
  right: -13px;
  top: -12px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  padding: 0px;
  font-size: 15px;
  color: #000;
}

.popup_login .main_login .close_login:hover {
  color: #c72528;
}

.popup_login .main_login .logo_login {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.popup_login .main_login .logo_login img {
  width: 100%;
  height: 100%;
}

.popup_login .main_login h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 20px;
}

.popup_login .main_login .socical {
  width: 100%;
  padding: 0 40px;
}

.popup_login .main_login .fb_login {
  width: 100%;
  text-align: center;
  background: #3b5999;
  color: #fff;
  padding: 17px 10px 13px 10px;
  display: block;
  font-weight: 600;
  position: relative;
  text-decoration: none !important;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  font-size: 16px;
}

.popup_login .main_login .fb_login:hover {
  opacity: 0.8;
}

.popup_login .main_login .gg_login {
  width: 100%;
  text-align: center;
  background: #4a90e2;
  color: #fff;
  padding: 17px 10px 13px 10px;
  display: block;
  font-weight: 600;
  position: relative;
  text-decoration: none !important;
  font-size: 16px;
  margin: 15px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.popup_login .main_login .gg_login:hover {
  opacity: 0.8;
}

footer#footer {
  width: 100%;
  background: #000111;
  color: #fff;
  padding: 30px 15px;
  text-align: left;
}

footer#footer .row_one, footer#footer .row_two {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

footer#footer .row_three {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#footer .row_three .left {
  float: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
}

footer#footer .row_three .right {
  float: right;
}

footer#footer .row_three .right a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 16px;
}

footer#footer .main_footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

footer#footer .main_footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

footer#footer .main_footer .contact .icon {
  width: 20px;
  margin-right: 10px;
}

footer#footer .main_footer .contact .icon i {
  font-size: 16px;
  padding: 0;
  margin-top: 4px;
}

footer#footer .main_footer .contact .details p.title {
  font-size: 12px;
  margin-bottom: 7px;
}

footer#footer .main_footer .contact .details p.link a {
  font-size: 16px;
  color: #00a6bd;
  font-weight: 500;
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer {
  list-style: none;
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer > li {
  width: 20%;
}

footer#footer .main_footer .list_info_footer > li span {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

footer#footer .main_footer .list_info_footer > li > ul {
  list-style: none;
  margin-top: 8px;
}

footer#footer .main_footer .list_info_footer > li > ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

footer#footer .main_footer .list_info_footer > li > ul li a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer li.address p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 25px;
}

footer#footer .main_footer .list_info_footer li.address .socical_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer li.address .socical_group a {
  min-width: 20px;
  margin-right: 10px;
  padding: 0;
  color: #fff;
}

@media (max-width: 768px) {
  header#list {
    padding: 0 15px;
  }
  header#list .menu_mobile {
    display: none;
    position: absolute;
    top: 58px;
    background: #fff;
    width: 100%;
    padding-bottom: 100px;
    left: 0;
  }
  header#list .menu_mobile .login_home {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    line-height: 35px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
  }
  header#list .menu_mobile .login_home .btn-login {
    display: block;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 3px 42px 0 42px;
    white-space: nowrap;
    text-decoration: none;
    color: #30333a;
    border: 1px solid #30333a;
    background: transparent;
  }
  header#list .menu_mobile .login_home .agency_zilo {
    border: 1px solid #c72528;
  }
  header#list .menu_mobile .login_home .agency_zilo a {
    color: #c72528;
    background: transparent;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: -moz-max-content;
    text-align: center;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    outline: unset;
    border: 1px solid #fff;
    text-decoration: none;
  }
  header#list .menu_mobile ul {
    display: block;
    background-color: #fff;
    display: unset;
    width: 100%;
  }
  header#list .menu_mobile ul li .menu_child {
    display: none;
    background-color: #f8f9fa;
    list-style: none;
  }
  header#list .menu_mobile ul li .menu_child li {
    padding-left: 20px;
  }
  header#list .menu_mobile ul li a.phone strong {
    font-size: 16px;
  }
  header#list .menu_mobile ul li a {
    text-decoration: none;
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .menu_mobile ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  header#list .col_left {
    width: 10% !important;
  }
  header#list .col_left .logo_zilo {
    position: relative;
  }
  header#list .col_left .logo_zilo i {
    display: block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    position: absolute;
    right: -38px;
    top: 9px;
    color: #c72528;
    padding: 12px;
  }
  header#list .col_between {
    width: 100%;
    height: 100%;
    padding: 0 18px !important;
  }
  header#list .col_between .search_list form input {
    font-size: 14px;
  }
  header#list .col_right {
    width: 90%;
    display: none;
  }
  header#list .col_right .login_home {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  header#list .col_right .menu_home {
    padding: 0 15px;
    display: none;
  }
  header#list .col_right .menu_home ul {
    display: block;
    background-color: #fff;
    display: unset;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
  }
  header#list .col_right .menu_home ul li .menu_child {
    display: block;
  }
  header#list .col_right .menu_home ul li a {
    display: block;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #30333a;
    border-bottom: 1px solid rgba(48, 51, 58, 0.1);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  header#list .col_right .menu_home ul li a i {
    margin-top: 18px;
    float: right;
    color: #c72628;
    font-size: 18px;
  }
  .main_list {
    padding: 0 0;
  }
  .main_list .list_view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset !important;
  }
  .main_list .list_view .image_list {
    max-width: 100% !important;
    margin-right: 0;
    height: 250px;
  }
  .main_list .list_view .info_list {
    width: 100% !important;
    position: relative;
    margin-top: 15px;
  }
  .main_list .list_view .info_list .price_time {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    top: unset;
  }
  .main_list .list_view .info_list .date_time {
    bottom: 25px;
  }
  .main_list .list_view .info_list .list_info {
    margin-bottom: 0px !important;
  }
  .main_list .list_view .info_list .list_name {
    width: 100% !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
  }
  .main_list .list_view .info_list .list_address a {
    width: 100% !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
  }
  .banner_top {
    height: 400px;
  }
  .banner_top .banner_cover .banner_search {
    width: 300px;
  }
  .banner_top .banner_cover .banner_search h1 {
    display: none;
  }
  .banner_top .banner_cover .banner_search i.fal.fa-search {
    display: none;
  }
  .banner_top .banner_cover .banner_search input {
    height: 35px !important;
    font-size: 14px !important;
    padding: 0 30px 0 10px !important;
  }
  .banner_top .banner_cover .banner_search label {
    font-size: 16px !important;
  }
  .banner_top .banner_cover .banner_search .btn_pc {
    display: none;
  }
  .banner_top .banner_cover .banner_search .btn_mb {
    position: absolute;
    right: 0;
    background: #cf373a;
    color: #fff;
    display: block !important;
    height: 35px !important;
    width: unset !important;
    font-size: 12px;
    padding: 0 20px;
  }
  .banner_top .banner_cover .banner_search .btn_mb i {
    display: block !important;
    color: #fff !important;
    position: absolute;
    left: 12px !important;
    top: 10px !important;
    font-size: 16px !important;
  }
  footer .main_footer .contact {
    width: 50% !important;
  }
  footer .list_info_footer {
    display: unset !important;
  }
  footer .list_info_footer li.address {
    margin-bottom: 10px;
  }
  footer .list_info_footer > li {
    width: 50% !important;
  }
}
/*# sourceMappingURL=list.css.map */