* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
}

header#list{
    display: flex;
    width: 100%;
    height: 58px;
    background: #fff;
    border-bottom: 1px solid rgba(48,51,58,.1);
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 5%;
        height: 100%;
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 8px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_between{
        width: 35%;
        height: 100%;
        text-align: left;
        .search_list{
            margin-top: 7px;
            width: 100%;
            height: 100%;
            form{
                position: relative;
                margin-left: 20px;
                
                i{
                    position: absolute;
                    left: 16px;
                    top: 12px;
                    font-size: 18px;
                    color: #000;
                    z-index: 1;
                }
                input{
                    width: 100%;
                    max-width: 500px;
                    padding-left: 50px;
                    height: 44px;
                    line-height: 44px;
                    border: 1px solid rgba(48,51,58,.3);
                    border-radius: 2px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-shadow: 0;
                    box-shadow: 0;
                    position: relative;
                    &:hover{
                        box-shadow: 0 2px 4px rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
    .col_right{
        width: 65%;
        height: 100%;
        display: flex;
        .menu_home{
            width: 100%;
            height: 100%;
            line-height: 55px;
            ul{
                display: flex;
                justify-content: flex-end;
                list-style: none;
                li{
                    margin: 0 10px;
                    position: relative;
                    &:hover{
                        ul.menu_child{
                            display: block;
                        }
                    }
                    a{
                        color: rgba(48,51,58,.86);
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        font-family: Segoe UI,sans-serif;
                        i{
                            margin-left: 6px;
                            color: #ff0005;
                        }
                    }
                }
            }
            ul.menu_child{
                position: absolute;
                display: none;
                right: 0;
                z-index: 100;
                background: #fff;
                padding: 10px 0;
                border-radius: 2px;
                width: 200px;
                border: 1px solid rgba(131,131,131,.2);
                -webkit-transition: .1s ease all;
                -o-transition: .1s ease all;
                transition: .1s ease all;
                -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
                li{
                    display: block;
                    white-space: nowrap;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 25px;
                    margin: 0;
                    text-align: left;
                    &:hover{
                        background: #f3f4f7;
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        color: #30333a;
                        font-weight: 400px;
                        font-family: Segoe UI,sans-serif;
                    }
                }
            }
            ul.menu_child::before{
                position: absolute;
                bottom: 100%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: #fff;
                border-width: 8px;
                right: 14px;
                top: -16px;
                opacity: 1;
                z-index: 101;
            }
        }
        .login_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            .btn-login {
                display: block;
                color: rgba(48,51,58,.86);
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 0 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
                font-family: Segoe UI,sans-serif;
            }
            .agency_zilo{
                a{
                    color: rgba(48,51,58,.86);
                    font-size: 14px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    cursor: pointer;
                    font-weight: 500;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    min-width: -webkit-fit-content;
                    min-width: -moz-fit-content;
                    min-width: fit-content;
                    min-width: -moz-min-content;
                    max-width: -moz-max-content;
                    text-align: center;
                    border-radius: 2px;
                    padding: 0 20px;
                    white-space: nowrap;
                    outline: unset;
                    border: 1px solid rgba(48,51,58,.86);
                    text-decoration: none;
                    font-family: Segoe UI,sans-serif;
                }
            }
        }
    }
}

.top_list{
    margin-top: 58px;
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 0 30px;
    text-align: left;
    h1{
        display: inline-block;
        margin-top: 14px;
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(48,51,58,.86);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        border-bottom: 2px solid #30333a;
        font-family: Segoe UI,sans-serif;
    }
}
.top_bar{
    width: 100%;
    height: 60px;
    background: #f3f4f7;
    padding: 0 30px;
    border-bottom: 1px solid rgba(48,51,58,.1);
    text-align: left;
    h3{
        display: inline-block;
        margin-top: 16px;
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(48,51,58,.86);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        font-family: Segoe UI,sans-serif;
    }
}

.main_list{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    .list_view{
        width: 100%;
        height: 230px;
        padding: 20px 0px;
        background: #fff;
        display: flex;
        border-bottom: 1px solid rgba(48,51,58,.1)!important;
        .image_list{
            max-width: 270px;
            min-width: 270px;
            position: relative;
            margin-right: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info_list{
            width: 100%;
            position: relative;
            text-align: left;
            .list_name{
                font-size: 16px;
                color: #30333a;
                font-weight: 600;
                line-height: 1.5;
                width: calc(100% - 160px);
                white-space: normal;
                height: 50px;
                padding: 0 0 5px;
                vertical-align: top;
                margin: -5px 0 7px;
                overflow: hidden;
                overflow-wrap: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-decoration: none;
                font-family: serif,sans-serif;
                &:hover{
                    color: #c72528;
                }
            }
            .list_address a{
                font-size: 14px;
                color: #30333a;
                font-weight: 500;
                line-height: 1.5;
                width: calc(100% - 160px);
                white-space: normal;
                height: 50px;
                padding: 0 0 5px;
                vertical-align: top;
                margin: -5px 0 7px;
                overflow: hidden;
                overflow-wrap: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-decoration: none;
                font-family: Roboto,sans-serif;
                &:hover{
                    color: #c72528;
                }
            }
            .list_info{
                width: 100%;
                margin-bottom: 25px;
                position: relative;
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        display: inline-block;
                        width: auto;
                        font-size: 14px;
                        margin-right: 15px;
                        color: #838383;
                        i{
                            color: #333;
                            margin-right: 6px;
                        }
                    }
                }
            }
            .action_group{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .customer{
                    display: flex;
                    .avatar{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info_customer{
                        h5{
                            font-size: 14px;
                            color: #30333a;
                            font-weight: 500;
                            line-height: 22px;
                            margin-bottom: 0;
                            &:hover{
                                color: #c72528;
                            }
                        }
                        p{
                            color: rgba(48,51,57,.7);
                            font-size: 12px;
                            padding: 0;
                            line-height: 20px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .price_time{
                display: block;
                position: absolute;
                right: 20px;
                bottom: 15px;
                font-size: 16px;
                font-weight: 600;
                color: #30333a;
                text-align: right;
                top: 20px;
                right: 0px;
            }
            .date_time{
                display: block;
                position: absolute;
                bottom: 20px;
                right: 0px;
                font-size: 14px;
                color: #333;
                opacity: 0.7;
            }
        }
    }
}

// Form popup Login
.popup_login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    padding: 25px;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: 0.7;
        z-index: 2;
    }
    .main_login {
        background: #f3f4f7;
        position: relative;
        z-index: 12;
        max-width: 525px;
        height: 320px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        .close_login {
            outline: none;
            position: absolute;
            right: -13px;
            top: -12px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            padding: 0px;
            font-size: 15px;
            color: #000;
            &:hover{
                color: #c72528;
            }
        }
        .logo_login {
            height: 50px;
            width: 50px;
            padding: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            text-align: center;
            margin-bottom: 25px;
            font-family: 'Helvetica Neue', serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin-top: 20px;
        }
        .socical {
            width: 100%;
            padding: 0 40px;
        }
        .fb_login{
            width: 100%;
            text-align: center;
            background: #3b5999;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 14px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            font-size: 16px;
            &:hover{
                opacity: 0.8;
            }
        }
        .gg_login{
            width: 100%;
            text-align: center;
            background: #4a90e2;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 16px;
            margin: 15px 0;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}


// footer
footer#footer{
    width: 100%;
    background: #000111;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    .row_one,.row_two{
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .row_three{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(255,255,255,.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(255,255,255,.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .main_footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 18px;
        .contact{
            display: flex;
            width: 20%;
            .icon{
                width: 20px;
                margin-right: 10px;
                i{
                    font-size: 16px;
                    padding: 0;
                    margin-top: 4px;
                }
            }
            .details{
                p.title{
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                p.link{
                    a{
                        font-size: 16px;
                        color: #00a6bd;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
        .list_info_footer{
            list-style: none;
            margin-top: 25px;
            width: 100%;
            display: flex;
            >li{
                width: 20%;
                span{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                }
                >ul{
                    list-style: none;
                    margin-top: 8px;
                    li{
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: rgba(255,255,255,.5);
                            text-decoration: none;
                        }
                    }
                }
            }
            li.address{
                p{
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                    line-height: 1.4;
                    margin-bottom: 20px;
                    margin-top: 25px;
                }
                .socical_group{
                    display: flex;
                    a{
                        min-width: 20px;
                        margin-right: 10px;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px){
    header#list{
        padding: 0 15px;
        .menu_mobile {
            display: none;
            position: absolute;
            top: 58px;
            background: #fff;
            width: 100%;
            padding-bottom: 100px;
            left: 0;
            .login_home{
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;
                line-height: 35px;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(48, 51, 58, 0.1);
                .btn-login {
                    display: block;
                    width: auto;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    border: 0;
                    padding: 3px 42px 0 42px;
                    white-space: nowrap;
                    text-decoration: none;
                    color: #30333a;
                    border: 1px solid #30333a;
                    background: transparent;
                }
                .agency_zilo{
                    border: 1px solid #c72528;
                    a{
                        color: #c72528;
                        background: transparent;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        margin: 0 auto;
                        cursor: pointer;
                        font-weight: 600;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        min-width: -webkit-fit-content;
                        min-width: -moz-fit-content;
                        min-width: fit-content;
                        min-width: -moz-min-content;
                        max-width: -moz-max-content;
                        text-align: center;
                        border-radius: 2px;
                        padding: 0 20px;
                        white-space: nowrap;
                        outline: unset;
                        border: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
            ul{
                display: block;
                background-color: #fff;
                display: unset;
                width: 100%;
                li{
                    .menu_child{
                        display: none;
                        background-color: #f8f9fa;
                        list-style: none;
                        li{
                            padding-left: 20px;
                        }
                    }
                    a.phone{
                        strong{
                            font-size: 16px;
                        }
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        margin: 0 18px;
                        height: 50px;
                        line-height: 50px;
                        text-align: left;
                        color: #30333a;
                        border-bottom: 1px solid rgba(48,51,58,.1);
                        -webkit-transition: all 100ms ease-in;
                        -o-transition: all 100ms ease-in;
                        transition: all 100ms ease-in;
                        i{
                            margin-top: 18px;
                            float: right;
                            color: #c72628;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .col_left{
            width: 10% !important;
            .logo_zilo{
                position: relative;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #c72528;
                    padding: 12px;
                }
            }
        }
        .col_between {
            width: 100%;
            height: 100%;
            padding: 0 18px !important;
            .search_list{
                form{
                    input{
                        font-size: 14px;
                    }
                }
            }
        }
        .col_right{
            width: 90%;
            display: none;
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
    } 
    .main_list{
        padding: 0 0;
        .list_view{
            display: flex;
            flex-direction: column;
            height: unset !important;
            .image_list{
                max-width: 100% !important;
                margin-right: 0;
                height: 250px;
            }
            .info_list{
                width: 100% !important;
                position: relative;
                margin-top: 15px;
                .price_time{
                    position: absolute;
                    right: 0 !important;
                    bottom: 0 !important;
                    top: unset;
                }
                .date_time{
                    bottom: 25px;
                }
                .list_info{
                    margin-bottom: 0px !important;
                }
                .list_name{
                    width: 100% !important;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 22px;
                }
                .list_address{
                    a{
                        width: 100% !important;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 22px;
                    }
                }
            }
        }
    }
    .banner_top{
        height: 400px;
        .banner_cover{
            .banner_search{
                width: 300px;
                h1{
                    display: none;
                }
                i.fal.fa-search{
                    display: none;
                }
                input{
                    height: 35px !important;
                    font-size: 14px !important;
                    padding: 0 30px 0 10px !important;
                }
                label{
                    font-size: 16px !important;
                }
                .btn_pc{
                    display: none;
                }
                .btn_mb{
                    position: absolute;
                    right: 0;
                    background: #cf373a;
                    color: #fff;
                    display: block !important;
                    height: 35px !important;
                    width: unset !important;
                    font-size: 12px;
                    padding: 0 20px;
                    i{
                        display: block !important;
                        color: #fff !important;
                        position: absolute;
                        left: 12px !important;
                        top: 10px !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
    footer{
        .main_footer{
            .contact{
                width: 50% !important;
            }
        }
        .list_info_footer{
            display: unset !important;
            li.address {
                margin-bottom: 10px;
            }
            >li{
                width: 50% !important;
            }
        }
    }
}