.project_hot{
    margin-top: 12px;
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        margin-bottom: 20px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
        text-align: left;
    }
    .list_article{
        transition: all .3s;
        border: 1px solid rgba(131,131,131,.2);
        margin-bottom: 30px;
        &:hover{
            transform: translate(0,-2px);
            -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
            box-shadow: 0 0 6px rgba(0,0,0,.15);
        }
    }
    .cover_image{
        position: relative;
        width: 100%;
        height: 280px;
        p{
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: center;
            padding: 7px 7px 5px 7px;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 12px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            z-index: 2;
            border-radius: 2px;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .mark_cover_image{
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 8px 0;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 14px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            width: 100%;
            z-index: 2;
        }
    }
    .info_project{
        position: relative;
        width: 100%;
        padding: 15px;
        background: #fff;
        ul.info_house{
            margin-top: 15px;
            display: flex;
            list-style: none;
            margin-bottom: 0;
            li{
                display: inline-block;
                width: auto;
                font-size: 14px;
                margin-right: 15px;
                color: #838383;
                i{
                    font-size: 12px;
                    color: #30333a;
                    padding-right: 5px;
                }
            }
        }
        h3{
            a.name_project{
                display: block;
                font-size: 16px;
                color: #30333a;
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .address_project{
            margin-top: 8px;
            display: block;
            color: #838383;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            height: 20px;
        }
        .price_project{
            margin-top: 15px;
            span{
                color: #30333a;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.3;
            }
        }
        .price_house{
            display: block;
            position: absolute;
            right: 20px;
            bottom: 15px;
            font-size: 14px;
            font-weight: 600;
            color: #30333a;
            text-align: right;
        }
    }
}