.banner_top  {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    .banner_cover{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgba(0,0,0,.2);
        z-index: 1;
        top: 0;
        left: 0;
        .banner_search{
            margin: auto;
            width: 800px;
            h1{
                font-family: 'Helvetica Neue', serif;
                color: #fff;
                margin-bottom: 20px;
                font-weight: 500;
                text-align: center;
                font-size: 38px;
            }
            label{
                font-weight: 400;
                margin: 0 6px;
                font-size: 18px;
                color: #fff;
                padding-bottom: 8px;
                cursor: pointer;
            }
            label.lb_active{
                border-bottom: 2px solid #fff;
            }
            form{
                margin-top: 20px;
                .input_search{
                    position: relative;
                    i.fal.fa-search{
                        position: absolute;
                        top: 16px;
                        left: 20px;
                        font-size: 20px;
                        color: #6c757d;
                    }
                    input{
                        font-size: 18px;
                        height: 55px;
                        width: 100%;
                        background: #fff;
                        border: 0!important;
                        outline: none;
                        padding: 0 20px 0 60px;
                        float: left;
                        -webkit-appearance: none;
                    }
                    button.btn_mb{
                        display: none;
                    }
                    button.btn_pc{
                        position: absolute;
                        right: 0;
                        width: calc(100% - 650px);
                        height: 55px;
                        background: #cf373a;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .banner_top{
        height: 400px;
        .banner_cover{
            .banner_search{
                width: 300px;
                h1{
                    display: none;
                }
                i.fal.fa-search{
                    display: none;
                }
                input{
                    height: 35px !important;
                    font-size: 14px !important;
                    padding: 0 30px 0 10px !important;
                }
                label{
                    font-size: 16px !important;
                }
                .btn_pc{
                    display: none;
                }
                .btn_mb{
                    position: absolute;
                    right: 0;
                    background: #cf373a;
                    color: #fff;
                    display: block !important;
                    height: 35px !important;
                    width: unset !important;
                    font-size: 12px;
                    padding: 0 20px;
                    i{
                        display: block !important;
                        color: #fff !important;
                        position: absolute;
                        left: 12px !important;
                        top: 10px !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}