.top_list{
    margin-top: 58px;
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 0 30px;
    text-align: left;
    h1{
        display: inline-block;
        margin-top: 14px;
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(48,51,58,.86);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        border-bottom: 2px solid #30333a;
        font-family: Segoe UI,sans-serif;
    }
}
.top_bar{
    width: 100%;
    height: 60px;
    background: #f3f4f7;
    padding: 0 30px;
    border-bottom: 1px solid rgba(48,51,58,.1);
    text-align: left;
    h3{
        display: inline-block;
        margin-top: 16px;
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(48,51,58,.86);
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        font-family: Segoe UI,sans-serif;
    }
}