.main_list{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    .list_view{
        width: 100%;
        height: 230px;
        padding: 20px 0px;
        background: #fff;
        display: flex;
        border-bottom: 1px solid rgba(48,51,58,.1)!important;
        .image_list{
            max-width: 270px;
            min-width: 270px;
            position: relative;
            margin-right: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info_list{
            width: 100%;
            position: relative;
            text-align: left;
            .list_name{
                font-size: 16px;
                color: #30333a;
                font-weight: 600;
                line-height: 1.5;
                width: calc(100% - 160px);
                white-space: normal;
                height: 50px;
                padding: 0 0 5px;
                vertical-align: top;
                margin: -5px 0 7px;
                overflow: hidden;
                overflow-wrap: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-decoration: none;
                font-family: serif,sans-serif;
                &:hover{
                    color: #c72528;
                }
            }
            .list_address a{
                font-size: 14px;
                color: #30333a;
                font-weight: 500;
                line-height: 1.5;
                width: calc(100% - 160px);
                white-space: normal;
                height: 50px;
                padding: 0 0 5px;
                vertical-align: top;
                margin: -5px 0 7px;
                overflow: hidden;
                overflow-wrap: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-decoration: none;
                font-family: Roboto,sans-serif;
                &:hover{
                    color: #c72528;
                }
            }
            .list_info{
                width: 100%;
                margin-bottom: 25px;
                position: relative;
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        display: inline-block;
                        width: auto;
                        font-size: 14px;
                        margin-right: 15px;
                        color: #838383;
                        i{
                            color: #333;
                            margin-right: 6px;
                        }
                    }
                }
            }
            .action_group{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .customer{
                    display: flex;
                    .avatar{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info_customer{
                        h5{
                            font-size: 14px;
                            color: #30333a;
                            font-weight: 500;
                            line-height: 22px;
                            margin-bottom: 0;
                            &:hover{
                                color: #c72528;
                            }
                        }
                        p{
                            color: rgba(48,51,57,.7);
                            font-size: 12px;
                            padding: 0;
                            line-height: 20px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .price_time{
                display: block;
                position: absolute;
                right: 20px;
                bottom: 15px;
                font-size: 16px;
                font-weight: 600;
                color: #30333a;
                text-align: right;
                top: 20px;
                right: 0px;
            }
            .date_time{
                display: block;
                position: absolute;
                bottom: 20px;
                right: 0px;
                font-size: 14px;
                color: #333;
                opacity: 0.7;
            }
        }
    }
}

@media (max-width: 768px){
    .main_list{
        padding: 0 0;
        .list_view{
            display: flex;
            flex-direction: column;
            height: unset !important;
            .image_list{
                max-width: 100% !important;
                margin-right: 0;
                height: 250px;
            }
            .info_list{
                width: 100% !important;
                position: relative;
                margin-top: 15px;
                .price_time{
                    position: absolute;
                    right: 0 !important;
                    bottom: 0 !important;
                    top: unset;
                }
                .date_time{
                    bottom: 25px;
                }
                .list_info{
                    margin-bottom: 0px !important;
                }
                .list_name{
                    width: 100% !important;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 22px;
                }
                .list_address{
                    a{
                        width: 100% !important;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 22px;
                    }
                }
            }
        }
    }
}