.main_list {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.main_list .list_view {
  width: 100%;
  height: 230px;
  padding: 20px 0px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(48, 51, 58, 0.1) !important;
}

.main_list .list_view .image_list {
  max-width: 270px;
  min-width: 270px;
  position: relative;
  margin-right: 30px;
}

.main_list .list_view .image_list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_list .list_view .info_list {
  width: 100%;
  position: relative;
  text-align: left;
}

.main_list .list_view .info_list .list_name {
  font-size: 16px;
  color: #30333a;
  font-weight: 600;
  line-height: 1.5;
  width: calc(100% - 160px);
  white-space: normal;
  height: 50px;
  padding: 0 0 5px;
  vertical-align: top;
  margin: -5px 0 7px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-family: serif,sans-serif;
}

.main_list .list_view .info_list .list_name:hover {
  color: #c72528;
}

.main_list .list_view .info_list .list_address a {
  font-size: 14px;
  color: #30333a;
  font-weight: 500;
  line-height: 1.5;
  width: calc(100% - 160px);
  white-space: normal;
  height: 50px;
  padding: 0 0 5px;
  vertical-align: top;
  margin: -5px 0 7px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-family: Roboto,sans-serif;
}

.main_list .list_view .info_list .list_address a:hover {
  color: #c72528;
}

.main_list .list_view .info_list .list_info {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.main_list .list_view .info_list .list_info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_list .list_view .info_list .list_info ul li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.main_list .list_view .info_list .list_info ul li i {
  color: #333;
  margin-right: 6px;
}

.main_list .list_view .info_list .action_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_list .list_view .info_list .action_group .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_list .list_view .info_list .action_group .customer .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.main_list .list_view .info_list .action_group .customer .avatar img {
  width: 100%;
  height: 100%;
}

.main_list .list_view .info_list .action_group .customer .info_customer h5 {
  font-size: 14px;
  color: #30333a;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 0;
}

.main_list .list_view .info_list .action_group .customer .info_customer h5:hover {
  color: #c72528;
}

.main_list .list_view .info_list .action_group .customer .info_customer p {
  color: rgba(48, 51, 57, 0.7);
  font-size: 12px;
  padding: 0;
  line-height: 20px;
  margin-bottom: 0;
}

.main_list .list_view .info_list .price_time {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #30333a;
  text-align: right;
  top: 20px;
  right: 0px;
}

.main_list .list_view .info_list .date_time {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-size: 14px;
  color: #333;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main_list {
    padding: 0 0;
  }
  .main_list .list_view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset !important;
  }
  .main_list .list_view .image_list {
    max-width: 100% !important;
    margin-right: 0;
    height: 250px;
  }
  .main_list .list_view .info_list {
    width: 100% !important;
    position: relative;
    margin-top: 15px;
  }
  .main_list .list_view .info_list .price_time {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    top: unset;
  }
  .main_list .list_view .info_list .date_time {
    bottom: 25px;
  }
  .main_list .list_view .info_list .list_info {
    margin-bottom: 0px !important;
  }
  .main_list .list_view .info_list .list_name {
    width: 100% !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
  }
  .main_list .list_view .info_list .list_address a {
    width: 100% !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
  }
}
/*# sourceMappingURL=mainlist.css.map */