.housing_same{
    width: 100%;
    background: #f0f1f5;
    padding-bottom: 70px;
    .content_housing_same{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
            text-align: left;
        }
        .same{
            .article_same{
                padding: 0 15px;
                transition: all .3s;
                margin-right: 30px;
            }
            .cover_image{
                position: relative;
                p{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    text-align: center;
                    padding: 7px 7px 5px 7px;
                    color: #fff;
                    background: rgba(199,37,40,.86);
                    font-size: 12px;
                    font-family: 'rv-font1',Arial,Helvetica,sans-serif;
                    z-index: 2;
                    border-radius: 2px;
                    text-transform: uppercase;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top: 2px solid #444c59;
                }
                .mark_cover_image{
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    padding: 8px 0;
                    color: #fff;
                    background: rgba(199,37,40,.86);
                    font-size: 14px;
                    font-family: 'rv-font1',Arial,Helvetica,sans-serif;
                    width: 100%;
                    z-index: 2;
                }
            }
            .info_project{
                position: relative;
                width: 100%;
                padding: 15px;
                background: #fff;
                ul.info_house{
                    margin-top: 15px;
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        display: inline-block;
                        width: auto;
                        font-size: 14px;
                        margin-right: 15px;
                        color: #838383;
                        i{
                            font-size: 12px;
                            color: #30333a;
                            padding-right: 5px;
                        }
                    }
                }
                h3{
                    a.name_project{
                        display: block;
                        font-size: 16px;
                        color: #30333a;
                        font-weight: 400;
                        line-height: 1.5;
                        white-space: nowrap;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .address_project{
                    margin-top: 8px;
                    display: block;
                    color: #838383;
                    text-align: left;
                    white-space: nowrap;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .price_project{
                    margin-top: 15px;
                    span{
                        color: #30333a;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1.3;
                    }
                }
                .price_house{
                    display: block;
                    position: absolute;
                    right: 20px;
                    bottom: 15px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #30333a;
                    text-align: right;
                }
            }
        }
    }
}



.slick-slider.slick-initialized {
    position: relative;
    .slick-prev:before {
        background-size: 20px 20px;
        display: inline-block;
        width: 20px; 
        height: 20px;
        background-image: url("./icon/back.svg");
        content: "";
    }
    .slick-next:before {
        background-size: 20px 20px;
        display: inline-block;
        width: 20px; 
        height: 20px;
        background-image: url("./icon/next.svg");
        content: "";
    }
    .slider-for.slick-prev:before{
        content: unset;
    }
    .slick-next:before, .slick-prev:before{
        opacity: 0.2;
    }
    .slick-prev:focus:before, .slick-prev:hover:before {
        opacity: 1;
    }
    .slick-next:focus:before, .slick-next:hover:before {
        opacity: 1;
    }
    button.slick-arrow.slick-prev {
        position: absolute;
        left: -20px;
        z-index: 9;
    }
    button.slick-arrow.slick-next {
        position: absolute;
        right: -20px;
        z-index: 9;
    }
}