.housing_same {
  width: 100%;
  background: #f0f1f5;
  padding-bottom: 70px;
}

.housing_same .content_housing_same h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
  text-align: left;
}

.housing_same .content_housing_same .same .article_same {
  padding: 0 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 30px;
}

.housing_same .content_housing_same .same .cover_image {
  position: relative;
}

.housing_same .content_housing_same .same .cover_image p {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  padding: 7px 7px 5px 7px;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 12px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  z-index: 2;
  border-radius: 2px;
  text-transform: uppercase;
}

.housing_same .content_housing_same .same .cover_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 2px solid #444c59;
}

.housing_same .content_housing_same .same .cover_image .mark_cover_image {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  background: rgba(199, 37, 40, 0.86);
  font-size: 14px;
  font-family: 'rv-font1',Arial,Helvetica,sans-serif;
  width: 100%;
  z-index: 2;
}

.housing_same .content_housing_same .same .info_project {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
}

.housing_same .content_housing_same .same .info_project ul.info_house {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.housing_same .content_housing_same .same .info_project ul.info_house li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.housing_same .content_housing_same .same .info_project ul.info_house li i {
  font-size: 12px;
  color: #30333a;
  padding-right: 5px;
}

.housing_same .content_housing_same .same .info_project h3 a.name_project {
  display: block;
  font-size: 16px;
  color: #30333a;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.housing_same .content_housing_same .same .info_project .address_project {
  margin-top: 8px;
  display: block;
  color: #838383;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.housing_same .content_housing_same .same .info_project .price_project {
  margin-top: 15px;
}

.housing_same .content_housing_same .same .info_project .price_project span {
  color: #30333a;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}

.housing_same .content_housing_same .same .info_project .price_house {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #30333a;
  text-align: right;
}

.slick-slider.slick-initialized {
  position: relative;
}

.slick-slider.slick-initialized .slick-prev:before {
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./icon/back.svg");
  content: "";
}

.slick-slider.slick-initialized .slick-next:before {
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./icon/next.svg");
  content: "";
}

.slick-slider.slick-initialized .slider-for.slick-prev:before {
  content: unset;
}

.slick-slider.slick-initialized .slick-next:before, .slick-slider.slick-initialized .slick-prev:before {
  opacity: 0.2;
}

.slick-slider.slick-initialized .slick-prev:focus:before, .slick-slider.slick-initialized .slick-prev:hover:before {
  opacity: 1;
}

.slick-slider.slick-initialized .slick-next:focus:before, .slick-slider.slick-initialized .slick-next:hover:before {
  opacity: 1;
}

.slick-slider.slick-initialized button.slick-arrow.slick-prev {
  position: absolute;
  left: -20px;
  z-index: 9;
}

.slick-slider.slick-initialized button.slick-arrow.slick-next {
  position: absolute;
  right: -20px;
  z-index: 9;
}
/*# sourceMappingURL=housingsame.css.map */