.top_detail{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: left;
    .box_breadcrumb{
        ul{
            list-style: none;
            display: flex;
            li{
                font-weight: 400;
                padding-right: 5px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    color: gray;
                    &:hover{
                        color: #c72528;
                    }
                }
            }
        }
    }
    h1{
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        width: 100%;
        padding: 5px 0;
    }
    .list_info_detail{
        width: 100%;
        margin-bottom: 25px;
        position: relative;
        ul{
            list-style: none;
            display: flex;
            li{
                display: inline-block;
                width: auto;
                font-size: 14px;
                margin-right: 15px;
                color: #838383;
                i{
                    color: #333;
                    margin-right: 6px;
                }
            }
        }
    }
}
.main_detail{
    text-align: left;
    .overview{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        p{
            overflow: hidden;
            line-height: 24px;
            font-family: serif,sans-serif;
        }
    }
    .basic_infomation,.list_info{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        ul{
            width: 100%;
            overflow: auto;
            padding-bottom: 15px;
            li{
                display: block;
                border-bottom: 1px dotted #dedede;
                padding: 7px 0;
                float: left;
                margin-right: 3%;
                width: 47%;
                p.left{
                    float: left;
                    color: rgba(68,76,89,.76);
                    font-size: 16px;
                    line-height: 24px;
                    font-family: serif,sans-serif;
                    margin-bottom: 0;
                }
                p.right{
                    float: right;
                    color: #444c59;
                    font-size: 15px;
                    font-weight: 600;
                    max-width: 48%;
                    overflow: hidden;
                    height: 30px;
                    text-align: right;
                    font-family: serif,sans-serif;
                    margin-bottom: 0;
                    i{
                        color: #444c59;
                    }
                }
                p.right i.far.fa-check{
                    font-size: 12px;
                }
            }
        }
    }
    .advantages_house{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        .list_advantages{
            display: flex;
            margin-bottom: 20px;
            padding: 20px 0;
            border-bottom: 1px dotted #e2e2e2;
            .advantages_name{
                float: left;
                width: 23%;
                p{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            .advantages_content{
                float: left;
                width: 72%;
                margin-left: 5%;
                font-size: 16px;
                p{
                    font-size: 16px;
                    line-height: 24px;
                    font-family: serif,sans-serif;
                    margin-bottom: 0;
                }
            }
        }
    }

    .images_house{
        width: 99%;
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        .gallery{
            >div:first-child {
                width: 100%;
                height: 400px;
            }
            div {
                width: 49%;
                height: 230px;
                margin-bottom: 15px;
                margin-right: 5px;
                display: inline-block;
                position: relative;
                text-align: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                span {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    line-height: 32px;
                    padding: 0 11px;
                    border-radius: 2px;
                    background-color: rgba(0,0,0,.4);
                    color: #fff;
                    font-size: 16px;
                    height: 32px;
                    overflow: hidden;
                }
            }
        }
    }

    .utility_area{
        width: 100%;
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        .zilo_map{
            width: 100%;
        }
        .location_map{
            width: 100%;
            height: 43px;
            line-height: 48px;
            padding-left: 10px;
            overflow: hidden;
            strong{
                font-size: 16px;
                line-height: 24px;
                >i{
                    color: #c72528;
                    margin-right: 6px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .main_detail{
        .list_info.basic_infomation{
            >ul{
                >li{
                    width: 100%;
                }
            }
        }
        .images_house{
            .gallery{
                >div{
                    width: 48% !important;
                    height: 150px;

                }
                >div:first-child{
                    height: 150px;
                }
            }
        }
    }
}