.top_detail {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: left;
}

.top_detail .box_breadcrumb ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_detail .box_breadcrumb ul li {
  font-weight: 400;
  padding-right: 5px;
}

.top_detail .box_breadcrumb ul li a {
  text-decoration: none;
  font-size: 16px;
  color: gray;
}

.top_detail .box_breadcrumb ul li a:hover {
  color: #c72528;
}

.top_detail h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 100%;
  padding: 5px 0;
}

.top_detail .list_info_detail {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.top_detail .list_info_detail ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_detail .list_info_detail ul li {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-right: 15px;
  color: #838383;
}

.top_detail .list_info_detail ul li i {
  color: #333;
  margin-right: 6px;
}

.main_detail {
  text-align: left;
}

.main_detail .overview h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.main_detail .overview p {
  overflow: hidden;
  line-height: 24px;
  font-family: serif,sans-serif;
}

.main_detail .basic_infomation h4, .main_detail .list_info h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.main_detail .basic_infomation ul, .main_detail .list_info ul {
  width: 100%;
  overflow: auto;
  padding-bottom: 15px;
}

.main_detail .basic_infomation ul li, .main_detail .list_info ul li {
  display: block;
  border-bottom: 1px dotted #dedede;
  padding: 7px 0;
  float: left;
  margin-right: 3%;
  width: 47%;
}

.main_detail .basic_infomation ul li p.left, .main_detail .list_info ul li p.left {
  float: left;
  color: rgba(68, 76, 89, 0.76);
  font-size: 16px;
  line-height: 24px;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.main_detail .basic_infomation ul li p.right, .main_detail .list_info ul li p.right {
  float: right;
  color: #444c59;
  font-size: 15px;
  font-weight: 600;
  max-width: 48%;
  overflow: hidden;
  height: 30px;
  text-align: right;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.main_detail .basic_infomation ul li p.right i, .main_detail .list_info ul li p.right i {
  color: #444c59;
}

.main_detail .basic_infomation ul li p.right i.far.fa-check, .main_detail .list_info ul li p.right i.far.fa-check {
  font-size: 12px;
}

.main_detail .advantages_house h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.main_detail .advantages_house .list_advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px dotted #e2e2e2;
}

.main_detail .advantages_house .list_advantages .advantages_name {
  float: left;
  width: 23%;
}

.main_detail .advantages_house .list_advantages .advantages_name p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.main_detail .advantages_house .list_advantages .advantages_content {
  float: left;
  width: 72%;
  margin-left: 5%;
  font-size: 16px;
}

.main_detail .advantages_house .list_advantages .advantages_content p {
  font-size: 16px;
  line-height: 24px;
  font-family: serif,sans-serif;
  margin-bottom: 0;
}

.main_detail .images_house {
  width: 99%;
}

.main_detail .images_house h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.main_detail .images_house .gallery > div:first-child {
  width: 100%;
  height: 400px;
}

.main_detail .images_house .gallery div {
  width: 49%;
  height: 230px;
  margin-bottom: 15px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.main_detail .images_house .gallery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main_detail .images_house .gallery div span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 32px;
  padding: 0 11px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 16px;
  height: 32px;
  overflow: hidden;
}

.main_detail .utility_area {
  width: 100%;
}

.main_detail .utility_area h4 {
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
  font-family: serif,sans-serif;
}

.main_detail .utility_area .zilo_map {
  width: 100%;
}

.main_detail .utility_area .location_map {
  width: 100%;
  height: 43px;
  line-height: 48px;
  padding-left: 10px;
  overflow: hidden;
}

.main_detail .utility_area .location_map strong {
  font-size: 16px;
  line-height: 24px;
}

.main_detail .utility_area .location_map strong > i {
  color: #c72528;
  margin-right: 6px;
}

@media (max-width: 768px) {
  .main_detail .list_info.basic_infomation > ul > li {
    width: 100%;
  }
  .main_detail .images_house .gallery > div {
    width: 48% !important;
    height: 150px;
  }
  .main_detail .images_house .gallery > div:first-child {
    height: 150px;
  }
}
/*# sourceMappingURL=leftdetail.css.map */