.housing_nearby{
    background: rgba(243, 244, 247, 0.83) !important;
    width: 100%;
    .content_housing_nearby{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
            text-align: left;
        }
        .compare_house{
            background: #fff;
            border-bottom: 0;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0,0,0,.1);
            margin-bottom: 100px;
            .article{
                padding: 19px;
                border-bottom: 1px solid #ececec;
                display: table;
                height: 90px;
                width: 100%;
                >div{
                    display: table-cell;
                    vertical-align: middle;
                }
                .img{
                    height: 60px;
                    width: 12%;
                    position: relative;
                    padding-right: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title{
                    width: 43%;
                    text-align: left;
                    h3{
                        font-weight: 600;
                        line-height: 1.4em;
                        font-size: 16px;
                        font-family: serif,sans-serif;
                        display: -webkit-box;
                        unicode-bidi: embed;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        a {
                            text-decoration: none;
                            color: #444c59;
                        }
                    }
                    p.address{
                        padding-top: 5px;
                        color: gray;
                        display: -webkit-box;
                        unicode-bidi: embed;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .status_housing{
                    width: 20%;
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 14px;
                    line-height: 20px;
                    color: #c72528;
                    font-weight: 500;
                }
                .info{
                    width: 25%;
                    padding-top: 15px;
                    >ul{
                        display: flex;
                        >li{
                            display: inline-block;
                            width: auto;
                            font-size: 14px;
                            margin-right: 15px;
                            color: #838383;
                            >i{
                                color: #333;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    .housing_nearby{
        .content_housing_nearby{
            .compare_house{
                margin-bottom: 50px;
                .article{
                    padding: 10px;
                    >div{
                        display: block;
                        width: 100% !important;
                    }
                    .img{
                        height: 150px;
                        padding-right: 0px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}