.investors h2 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Helvetica Neue', serif;
  color: #000;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
  line-height: 1.92;
}

.investors p.des_inves {
  margin-bottom: 20px;
  color: #838383;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.investors .image_investor {
  padding: 20px;
  background: #fff;
  border: 1px solid rgba(131, 131, 131, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
}

.investors .image_investor:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.investors .image_investor img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=investors.css.map */