.investors{
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    p.des_inves{
        margin-bottom: 20px;
        color: #838383;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .image_investor{
        padding: 20px;
        background: #fff;
        border: 1px solid rgba(131,131,131,.1);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        width: 100%;
        height: 160px;
        margin-bottom: 30px;
        &:hover{
            transform: translate(0,-2px);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}