// Form popup Login
.popup_login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    padding: 25px;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: 0.7;
        z-index: 2;
    }
    .main_login {
        background: #f3f4f7;
        position: relative;
        z-index: 12;
        max-width: 525px;
        height: 320px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        .close_login {
            outline: none;
            position: absolute;
            right: -13px;
            top: -12px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            padding: 0px;
            font-size: 15px;
            color: #000;
            &:hover{
                color: #c72528;
            }
        }
        .logo_login {
            height: 50px;
            width: 50px;
            padding: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            text-align: center;
            margin-bottom: 25px;
            font-family: 'Helvetica Neue', serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin-top: 20px;
        }
        .socical {
            width: 100%;
            padding: 0 40px;
        }
        .fb_login{
            width: 100%;
            text-align: center;
            background: #3b5999;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 14px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            font-size: 16px;
            &:hover{
                opacity: 0.8;
            }
        }
        .gg_login{
            width: 100%;
            text-align: center;
            background: #4a90e2;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 16px;
            margin: 15px 0;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}