footer#footer {
  width: 100%;
  background: #000111;
  color: #fff;
  padding: 30px 15px;
  text-align: left;
}

footer#footer .row_one, footer#footer .row_two {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

footer#footer .row_three {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#footer .row_three .left {
  float: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
}

footer#footer .row_three .right {
  float: right;
}

footer#footer .row_three .right a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 16px;
}

footer#footer .main_footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

footer#footer .main_footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

footer#footer .main_footer .contact .icon {
  width: 20px;
  margin-right: 10px;
}

footer#footer .main_footer .contact .icon i {
  font-size: 16px;
  padding: 0;
  margin-top: 4px;
}

footer#footer .main_footer .contact .details p.title {
  font-size: 12px;
  margin-bottom: 7px;
}

footer#footer .main_footer .contact .details p.link a {
  font-size: 16px;
  color: #00a6bd;
  font-weight: 500;
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer {
  list-style: none;
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer > li {
  width: 20%;
}

footer#footer .main_footer .list_info_footer > li span {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

footer#footer .main_footer .list_info_footer > li > ul {
  list-style: none;
  margin-top: 8px;
}

footer#footer .main_footer .list_info_footer > li > ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

footer#footer .main_footer .list_info_footer > li > ul li a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer#footer .main_footer .list_info_footer li.address p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 25px;
}

footer#footer .main_footer .list_info_footer li.address .socical_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer .main_footer .list_info_footer li.address .socical_group a {
  min-width: 20px;
  margin-right: 10px;
  padding: 0;
  color: #fff;
}

@media (max-width: 768px) {
  footer .main_footer .contact {
    width: 50% !important;
  }
  footer .list_info_footer {
    display: unset !important;
  }
  footer .list_info_footer li.address {
    margin-bottom: 10px;
  }
  footer .list_info_footer > li {
    width: 50% !important;
  }
}
/*# sourceMappingURL=footer.css.map */