footer#footer{
    width: 100%;
    background: #000111;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    .row_one,.row_two{
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .row_three{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(255,255,255,.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(255,255,255,.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .main_footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 18px;
        .contact{
            display: flex;
            width: 20%;
            .icon{
                width: 20px;
                margin-right: 10px;
                i{
                    font-size: 16px;
                    padding: 0;
                    margin-top: 4px;
                }
            }
            .details{
                p.title{
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                p.link{
                    a{
                        font-size: 16px;
                        color: #00a6bd;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
        .list_info_footer{
            list-style: none;
            margin-top: 25px;
            width: 100%;
            display: flex;
            >li{
                width: 20%;
                span{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                }
                >ul{
                    list-style: none;
                    margin-top: 8px;
                    li{
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: rgba(255,255,255,.5);
                            text-decoration: none;
                        }
                    }
                }
            }
            li.address{
                p{
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                    line-height: 1.4;
                    margin-bottom: 20px;
                    margin-top: 25px;
                }
                .socical_group{
                    display: flex;
                    a{
                        min-width: 20px;
                        margin-right: 10px;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    footer{
        .main_footer{
            .contact{
                width: 50% !important;
            }
        }
        .list_info_footer{
            display: unset !important;
            li.address {
                margin-bottom: 10px;
            }
            >li{
                width: 50% !important;
            }
        }
    }
}