.browser_house h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Helvetica Neue', serif;
  color: #444c59;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
  line-height: 1.92;
}

.browser_house .col_house {
  list-style: none;
  text-align: left;
}

.browser_house .col_house li {
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}

.browser_house .col_house li a {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #337588;
  text-decoration: none;
}
/*# sourceMappingURL=browserhouse.css.map */